.section-with-border-and-bg
  .row
    = render :partial => "/shared/errors", :object => f.object.errors

  .row
    .span-9= f.input :authors, :as => :text, :input_html => { :size => '50x1' }
    .span-9.last= f.input :title, :as => :text, :input_html => { :size => '50x1' }

  .row
    .span-9= f.association :techproductstatus, :collection => Techproductstatus.all, :using => :name, :as => :radio, :prompt => true, :wrapper_class => 'radio-set'
    .span-9.last= f.association :techproducttype, :collection => Techproducttype.all, :using => :name, :input_html => {:prompt => true, :class => 'chosen-select', :required => true}

  .row
    .span-9= f.input :descr, :as => :text, :input_html => { :size => '50x1' }
    #institution.span-9.last
      = f.association :institution, :using => :name, :input_html => {:prompt => true, :class => 'chosen-select', :required => true}
      = f.label :request_institution, :class => 'discrete'

  .row
    = render :partial => 'user_techproducts/form', :locals => {:technical_product => @technical_product, :f => f}


