%h3= t('.title')
= simple_form_for @technical_product, :as => :technical_product, :url => technical_products_path do |f|
  = render :partial => 'form', :locals => { :f => f }
  #submit_buttons
    = f.submit  t(:save)
    = link_to t(:cancel), technical_products_path
