.span-18.last
  %h3= t('.title')

#nav_links
  = link_to t('.my_works'), technical_products_path
  = link_to t('.not_my_works'), not_my_technical_products_path

= render :partial => 'search_form'

= render :partial => 'collection_header'

#collection_records
  = render :partial => 'record', :collection => @technical_products

= render :partial => 'collection_footer'

= paginate(@technical_products)

#submit_buttons
  = link_to t(:new), new_technical_product_path
