%h3= t('technical_products.show.title')
.section-with-border-and-bg
  = show_for @technical_product do |u|
    .span-9= u.attribute :authors
    .span-9.last= u.attribute :title

    .span-9= u.association :techproducttype, :using => :name
    .span-9.last= u.association :techproductstatus, :using => :name

    .span-9= u.attribute :descr
    .span-9.last= u.association :institution, :using => :name_and_parent_abbrev

    .span-18.last
      = u.association :user_techproducts, :collection_tag => :ol do |record| 
        %li= record.author_with_role
  .row
    = render :partial => 'shared/record', :object => @technical_product

#submit_buttons
  = link_to t(:edit), edit_technical_product_path(:id => @technical_product.id)
  = link_to t(:back), technical_products_path

