.section-with-border-and-bg
  .row
    = render :partial => "/shared/errors", :object => f.object.errors

  .row
    .span-9= f.input :authors, :as => :text, :input_html => { :size => '60x1' }
    .span-9.last= f.input :title, :as => :text, :input_html => { :size => '60x1' }

  .row
    .span-6= f.input :reference, :as => :string, :input_html => { :size => '20', :autocomplete => "off"}
    .span-6= f.input :vol, :as => :string, :input_html => { :size => '20', :autocomplete => "off"}
    .span-6.last= f.input :pages, :as => :string, :input_html => { :size => '20', :autocomplete => "off"}

  .row
    .span-6= f.input :isbn_issn, :as => :string, :input_html => { :size => '20', :autocomplete => "off"}
    .span-2
      = f.input :year, :as => :string, :input_html => { :size => '4', :autocomplete => "off", :value => Date.today.year }, :required => true
    .span-6.last
      = f.label :month, :required => true
      = select_month_for 'month', 'genericwork'

  .row
    .span-6
      = render :partial => 'user_genericworks/form', :locals => {:genericwork => @genericwork, :f => f}
    .span-12.last
      = f.association :genericworkstatus, :using => :name, :as => :radio, :wrapper_class => 'radio-set'
      = f.hidden_field :genericworktype_id, :value => 7
