%tr{:class => "filter_header", :id => "filter_header"}
  = form_for :search, :remote => true, :html => {:id => "filter_form"} do |f|
    %th{:class => 'ui-state-default', :style => 'width: 5%;'}
      =t(:id)
    %th{:class => 'ui-state-default', :style => 'width: 55%;'}
      %div{:class => 'span-3'}=t(:authors)
      %div{:class => 'span-3'}=t(:title)
      %div{:class => 'span-5'}=t(:genericworkstatus)
      %div{:class => 'span-2 last'}=t(:year)

      %div{:class => 'span-3'}= f.text_field :authors_like_ignore_case, :size => 15
      %div{:class => 'span-3'}= f.text_field :title_like_ignore_case, :size => 10
      %div{:class => 'span-5'}= f.collection_select :genericworkstatus_id_eq, Genericworkstatus.all, :id, :name, :prompt => true
      %div{:class => 'span-2 last'}= f.text_field :year_eq, :size => 4

    %th{:class => 'ui-state-default', :style => 'width: 10%;'}
      ='Académicos del instituto asociados al reporte'
    %th{:class => 'ui-state-default', :style => 'width: 90px;'}
      ='Agregar asociación al reporte'
    %th{:class => 'ui-state-default', :style => 'width: 60px;'}
      =t(:show)
    %th{:class => 'ui-state-default', :style => 'width: 60px;'}
      =t(:edit)
    %th{:class => 'ui-state-default', :style => 'width: 60px;'}
      =t(:del)