%h3= t('.title')
= simple_form_for @genericwork, :as => :genericwork, :url => technical_report_path do |f|
  = render :partial => 'form', :locals => { :f => f }
  #submit_buttons
    = f.submit  t(:update)
    = link_to t(:cancel), technical_reports_path