.span-18.last
  %h3= t('.title')

#submit_buttons
  = link_to t(:new), new_technical_report_path

#nav_links
  = link_to t('.my_works'), technical_reports_path
  = link_to t('.not_my_works'), not_my_technical_reports_path

= render :partial => 'search_form'

= render :partial => 'collection_header'

#collection_records
  = render :partial => 'record', :collection => @genericworks

= render :partial => 'collection_footer'

= paginate(@genericworks)

#submit_buttons
  = link_to t(:new), new_technical_report_path
