%div{ :class => 'span-14 section_left last' }
  %h3= t('stimulustypes.show.title')
  - show_for @stimulustype do |u|

    = u.attribute :name, :wrapper_html => {:class => 'span-14 last'}


    = u.attribute :descr, :wrapper_html => {:class => 'span-14 last'}


    = u.association :institution, :using => :name, :wrapper_html => {:class => 'span-14 last'}


%div{ :class => 'span-14 buttons_left last' }
  = link_as_button t(:edit), edit_admin_stimulustype_path(:id => @stimulustype.id)
  = link_as_button t(:back), admin_stimulustypes_path
