%div{ :class => 'span-14 section_left last' }
  %h3= t('<%= plural_name %>.show.title')
  - show_for @<%= singular_name %> do |u|
<% for attribute in attributes -%>
<% unless attribute.name.match(/\_id$/).nil? %>
    = u.association :<%= attribute.name.sub(/_id$/, '') %>, :using => :name, :wrapper_html => {:class => 'span-14 last'}
<% else %>
    = u.attribute :<%= attribute.name %>, :wrapper_html => {:class => 'span-14 last'}
<% end %>
<% end %>
%div{ :class => 'span-14 buttons_left last' }
  = link_as_button t(:edit), edit_admin_<%= singular_name %>_path(:id => @<%= singular_name %>.id)
  = link_as_button t(:back), admin_<%= plural_name %>_path
