= form_for :search, :remote => true, :html => {:id => "filter_form"} do |f|
  .span-6=t(:authors)
  .span-6=t(:title)
  .span-6.last

  .span-6= f.text_field :authors_like_ignore_case, :size => 30
  .span-6= f.text_field :title_like_ignore_case, :size => 30
  .span-6.last
    .search_button= link_to t(:search), "#", :id => "search_button"
    .reset_search_button.last= link_to "Listar todos", "#" , :id => 'reset_search_button'
