%h3= t('.title')
= simple_form_for @inproceeding, :url => unrefereed_inproceedings_path do |f|
  = render :partial => 'form', :locals => { :f => f }
  #submit_buttons
    = f.submit  t(:save)
    = link_to t(:cancel), unrefereed_inproceedings_path
