%div{ :class => 'span-24 section_left last' }
  %h3= t('newspaper_articles.show.title')
  = show_for @newspaper_article do |u|
    = u.attribute :authors, :wrapper_html => {:class => 'span-12'}
    = u.attribute :title, :wrapper_html => {:class => 'span-12 last'}

    = u.association :newspaper, :using => :name, :wrapper_html => {:class => 'span-12'}
    = u.attribute :newsdate, :wrapper_html => {:class => 'span-12 last'}

    %div{:class => 'span-12 last'}
      = u.association :user_newspaperarticles, :collection_tag => :ol do |record| 
        %li= record.user.author_name 

  = render :partial => 'shared/record', :object => @newspaper_article

%div{ :class => 'span-14 buttons_left last' }
  = link_as_button t(:edit), edit_newspaper_article_path(:id =>  @newspaper_article.id)
  = link_as_button t(:back), newspaper_articles_path
