
%h3= t('newspaper_articles.show.title')

.section-with-border-and-bg

  = show_for @newspaper_article do |u|
    .span-9= u.attribute :authors
    .span-9.last= u.attribute :title

    .span-9= u.association :newspaper, :using => :name
    .span-9.last= u.attribute :newsdate

    .span-18.last
      = u.association :user_newspaperarticles, :collection_tag => :ol do |record| 
        %li= record.user.author_name 
  .row
    = render :partial => 'shared/record', :object => @newspaper_article

#submit_buttons
  = link_to t(:edit), edit_newspaper_article_path(:id =>  @newspaper_article.id)
  = link_to t(:back), newspaper_articles_path
