.span-1= checkbox_to_delete(record)
.span-8
  = record.to_s
  = image_tag('associated_record.png', :class => 'associated_record_indicator', :title => t(:associated))
.associated_authors
  .authors_size= record.users.size
  = link_to_user_list user_list_other_work_path(:id => record.id, :format => 'js')
.author_action
  = link_to_del_author t(:del_author), del_user_other_work_path(:id => record.id, :format => :js)
.action
  = link_to_show other_work_path(:id => record.id)
.action
  =link_to_edit edit_other_work_path(:id => record.id)
.action
  = link_to_delete record, other_work_path(:id => record.id)
    