.section-with-border-and-bg
  .row
    = render :partial => "/shared/errors", :object => f.object.errors

  .row
    .span-9= f.input :authors, :as => :text, :input_html => { :size => '60x2' }
    .span-9.last= f.input :title, :as => :text, :input_html => { :size => '60x2' }

  .row
    .span-3
      = f.input :year, :as => :string, :input_html => { :size => '4', :autocomplete => "off" }
    .span-6
      = f.label :month, :required => true
      = select_month_for 'month', 'genericwork'
    .span-9.last
      = f.hidden_field :genericworktype_id, :value => 16
      = f.hidden_field :genericworkstatus_id, :value => 3

  .row
    #institution.span-6
      = f.association :institution, :using => :name, :input_html => {:prompt => true, :class => 'chosen-select', :required => true}
      = link_to_new_record 'Agregar institución', new_institution_path
    .span-12.last
      = render :partial => 'user_genericworks/form', :locals => {:genericwork => @genericwork, :f => f}