%h3= t('.title')
= link_as_button t('.my_works'), other_works_path
= link_as_button t('.not_my_works'), not_my_other_works_path
%div{ :class => 'span-24 buttons_left last' }
- 3.times do
  %br
%table{:id => 'collection_table', :class => 'ui-widget-header ui-corner-tl ui-corner-tr ui-helper-clearfix'}
  %thead{:id => "filter_header"}
    = render :partial => 'filter_header'
    %tbody{:id =>'collection'}
      = render :partial => 'record', :collection => @genericworks
      = render :partial => 'collection_footer'
    %tfoot{:id => 'paginator'}
      %tr
        %th
          = will_paginate @genericworks

%div{ :class => 'span-24 buttons_left last' }
  = link_as_button t(:new), new_other_work_path
