%div{:class=> 'span-21 section_left push-1 last'}
  %div{:class=>'span-21 last'}
    %b='Facultad o escuela'

  %div{:class=>'span-21 last'}
    = f.input :name, :as => :string, :input_html => { :size => '55' }, :wrapper_class => 'span-8'
    %div{:class => 'span-13 ui-widget last', :id => 'institution', 'data-controller-name'=>'institutions' }
      = f.association :institution,  :as => :select, :collection => [Institution.find(1)], :input_html => {:class => 'simple_select' }, :selected => 1, :required => true, :wrapper_class => 'select_and_label'
      = link_to_action 'ui-icon-plus', 'Agregar una institución', '#', :id => 'new_record'

  %div{:class=>'span-21 last'}
    = f.association :institutiontype, :as => :radio, :collection => Institutiontype.all, :wrapper_class => 'span-8 radio_set last'
    %div{:class=> 'span-6'}
      = f.label :institutiontitle_id, :required => true
      = f.collection_select :institutiontitle_id, Institutiontitle.all, :id, :name, {:prompt => true, :selected => 2, :required => true}
    = f.association :country, :collection => Country.all, :wrapper_class => 'span-5 last', :selected => 484
