.row
  %b='Facultad o escuela'

.row
  .span-10
    = f.input :name, :as => :string, :input_html => { :size => '40', :autocomplete => "off", :class => 'autocompleted_text', 'data-controller-name' => 'institutions' }

  #institution.span-8.last{'data-controller-name' => 'institutions'}
    = f.association :institution,  :as => :select, :collection => [Institution.find(1)], :input_html => {:class => 'chosen-select' }, :selected => 1, :required => true, :wrapper_class => 'select_and_label'
    = link_to_new_record 'Agregar una institución', '#'

.row
  .span-8
    = f.association :institutiontype, :as => :radio, :collection => Institutiontype.all, :wrapper_class => 'span-8 radio_set last'
  .span-5
    = f.label :institutiontitle_id, :required => true
    = f.collection_select :institutiontitle_id, Institutiontitle.all, :id, :name, {:prompt => true, :selected => 2, :required => true}, :class => 'chosen-select'
  .span-5.last
    = f.association :country, :collection => Country.all,  :selected => 484, :input_html => {:class => 'chosen-select' }
