.row
  %h4='Facultad o escuela'

.row
  .span-6
    = f.input :name, :as => :string, :input_html => { :size => '35', :autocomplete => "off", :class => 'autocompleted_text', 'data-controller-name' => 'institutions' }, :label_html => { :class => 'span-8' }

  #institution.span-6.last
    = f.association :institution, :as => :select, :collection => Institution.for_universities, :input_html => {:class => 'chosen-select chzn-container-big' }, :required => true,  :wrapper_html => { :class => 'span-10' }
    = f.label :request_institution, :class => 'discrete'
.row
  .span-6
    = f.hidden_field :institutiontype_id, :value => 1
  .span-6
    = f.hidden_field :institutiontitle_id, :value => 1
  .span-6.last
    = f.association :country, :collection => Country.all, :input_html => {:class => 'chosen-select' }, :selected => f.object.country_id || 484
