.row
  %h4='Facultad o escuela'

.row
  .span-6
    -# = f.input :name, :as => :string, :input_html => { :size => '35', :autocomplete => "off", :class => 'autocompleted_text', 'data-controller-name' => 'institutions' }, :label_html => { :class => 'span-8' }
    -# = f.association :institution, :as => :select, :collection => Institution.for_faculties, :label=>'Facultad, Escuela o Instituto', :input_html => {:class => 'chosen-select chzn-container-big' }, :required => true, :wrapper_html => { :class => 'span-10' }
    = f.collection_select :name, Institution.for_faculties, :id, :name #:label=>'Facultad, Escuela o Instituto', :input_html => {:class => 'chosen-select chzn-container-big' }, :required => true,  :wrapper_html => { :class => 'span-10' }
    = f.label :request_institution, :class => 'discrete'

  #institution.span-6.last
    = f.association :institution, :as => :select, :collection => Institution.for_universities, :input_html => {:class => 'chosen-select chzn-container-big' }, :required => true,  :wrapper_html => { :class => 'span-10' }
    = f.label :request_institution, :class => 'discrete'
.row
  .span-6
    = f.hidden_field :institutiontype_id, :value => 1
    // = f.association :institutiontype, :as => :radio, :collection => Institutiontype.all, :input_html => { :class => 'radio-set' }
  .span-6
    = f.hidden_field :institutiontitle_id, :value => 1
    // = f.collection_select :institutiontitle_id, Institutiontitle.all, :id, :name, {:prompt => true, :selected => 2, :required => true}, :class => 'chosen-select'
  .span-6.last
    = f.association :country, :collection => Country.all, :input_html => {:class => 'chosen-select' }, :selected => f.object.country_id || 484
