.dialog-section-with-border-and-bg
  .row
    = f.input :name, :as => :string, :input_html => { :size => 38 }
  .row
    = f.input :abbrev, :as => :string, :input_html => { :size => 38 }
  .row
    = f.association :institutiontitle, :using => :name, :input_html  => {:class => 'chosen-select' }
  .row
    = f.association :institutiontype, :using => :name, :as => :radio, :input_html  => {:class => 'radio-set' }
  .row
    = f.association :country, :using => :name, :input_html  => {:class => 'chosen-select' }
