%h3='Administración de catálogos'

%div{:id => 'collection'}

  %div{:class => 'span-24 record-odd record-catalog'}
    %div{:class=> 'span-6'}
      = link_to t('admin.adscriptions'), admin_adscriptions_path
    %div{:class=> 'span-6'}
      = link_to t('admin.researchareas'), admin_researchareas_path
    %div{:class=> 'span-6'}
      = link_to t('admin.cities'), admin_cities_path
    %div{:class=> 'span-6 last'}
      = link_to t('admin.schoolarships'), admin_schoolarships_path

  %div{:class => 'span-24 record-even record-catalog'}
    %div{:class=> 'span-6 '}
      = link_to t('admin.states'), admin_states_path
    %div{:class=> 'span-6'}
      = link_to t('admin.publishers'), admin_publishers_path
    %div{:class=> 'span-6'}
      = link_to t('admin.journals'), admin_journals_path
    %div{:class=> 'span-6 last'}
      = link_to t('admin.institutions'), admin_institutions_path

  %div{:class => 'span-24 record-odd record-catalog'}
    %div{:class=> 'span-6'}
      = link_to t('admin.periods'), admin_periods_path
    %div{:class=> 'span-6'}
      = link_to t('admin.seminarytypes'), admin_seminarytypes_path
    %div{:class=> 'span-6'}
      = link_to t('admin.prizetypes'), admin_prizetypes_path
    %div{:class=> 'span-6 last'}
      = link_to t('admin.careers'), admin_careers_path

  %div{:class => 'span-24 record-even record-catalog'}
    %div{:class=> 'span-6'}
      = link_to t('admin.institutiontypes'), admin_institutiontypes_path
    %div{:class=> 'span-6'}
      = link_to t('admin.institutiontitles'), admin_institutiontitles_path
    %div{:class=> 'span-6'}
      = link_to t('admin.activitytypes'), admin_activitytypes_path
    %div{:class=> 'span-6 last'}
      = link_to t('admin.academicprogramtypes'), admin_academicprogramtypes_path

  %div{:class => 'span-24 record-odd record-catalog'}
    %div{:class=> 'span-6'}
      = link_to t('admin.activitygroups'), admin_activitygroups_path
    %div{:class=> 'span-6'}
      = link_to t('admin.addresstypes'), admin_addresstypes_path
    %div{:class=> 'span-6'}
      = link_to t('admin.articlestatuses'), admin_articlestatuses_path
    %div{:class=> 'span-6 last'}
      = link_to t('admin.bookchaptertypes'), admin_bookchaptertypes_path

  %div{:class => 'span-24 record-even record-catalog'}
    %div{:class=> 'span-6'}
      = link_to t('admin.roleinbooks'), admin_roleinbooks_path
    %div{:class=> 'span-6'}
      = link_to t('admin.booktypes'), admin_booktypes_path
    %div{:class=> 'span-6'}
      = link_to t('admin.roleinchapters'), admin_roleinchapters_path
    %div{:class=> 'span-6 last'}
      = link_to t('admin.conferencescopes'), admin_conferencescopes_path

  %div{:class => 'span-24 record-odd record-catalog'}
    %div{:class=> 'span-6'}
      = link_to t('admin.conferencetypes'), admin_conferencetypes_path
    %div{:class=> 'span-6'}
      = link_to t('admin.contracttypes'), admin_contracttypes_path
    %div{:class=> 'span-6'}
      = link_to t('admin.coursegrouptypes'), admin_coursegrouptypes_path
    %div{:class=> 'span-6 last'}
      = link_to t('admin.credittypes'), admin_credittypes_path

  %div{:class => 'span-24 record-even record-catalog'}
    %div{:class=> 'span-6'}
      = link_to t('admin.degrees'), admin_degrees_path
    %div{:class=> 'span-6'}
      = link_to t('admin.documenttypes'), admin_documenttypes_path
    %div{:class=> 'span-6'}
      = link_to t('admin.genericworkstatuses'), admin_genericworkstatuses_path
    %div{:class=> 'span-6 last'}
      = link_to t('admin.genericworktypes'), admin_genericworktypes_path

  %div{:class => 'span-24 record-even record-catalog'}
    %div{:class=> 'span-6'}
      = link_to t('admin.groups'), admin_groups_path
    %div{:class=> 'span-6'}
      = link_to t('admin.groupmodalities'), admin_groupmodalities_path
    %div{:class=> 'span-6'}
      = link_to t('admin.idtypes'), admin_idtypes_path
    %div{:class=> 'span-6 last'}
      = link_to t('admin.languagelevels'), admin_languagelevels_path

  %div{:class => 'span-24 record-even record-catalog'}
    %div{:class=> 'span-6'}
      = link_to t('admin.languages'), admin_languages_path
    %div{:class=> 'span-6'}
      = link_to t('admin.maritalstatuses'), admin_maritalstatuses_path
    %div{:class=> 'span-6'}
      = link_to t('admin.mediatypes'), admin_mediatypes_path
    %div{:class=> 'span-6 last'}
      = link_to t('admin.migratorystatuses'), admin_migratorystatuses_path

  %div{:class => 'span-24 record-even record-catalog'}
    %div{:class=> 'span-6'}
      = link_to t('admin.modalities'), admin_modalities_path
    %div{:class=> 'span-6'}
      = link_to t('admin.roleinconferences'), admin_roleinconferences_path
    %div{:class=> 'span-6'}
      = link_to t('admin.roleinconferencetalks'), admin_roleinconferencetalks_path
    %div{:class=> 'span-6 last'}
      = link_to t('admin.roleincourses'), admin_roleincourses_path

  %div{:class => 'span-24 record-even record-catalog'}
    %div{:class=> 'span-6'}
      = link_to t('admin.roles'), admin_roles_path
    %div{:class=> 'span-6'}
      = link_to t('admin.roleinjobpositions'), admin_roleinjobpositions_path
    %div{:class=> 'span-6'}
      = link_to t('admin.roleinjournals'), admin_roleinjournals_path
    %div{:class=> 'span-6 last'}
      = link_to t('admin.roleinjuries'), admin_roleinjuries_path

  %div{:class => 'span-24 record-even record-catalog'}
    %div{:class=> 'span-6'}
      = link_to t('admin.roleinprojects'), admin_roleinprojects_path
    %div{:class=> 'span-6'}
      = link_to t('admin.roleinregularcourses'), admin_roleinregularcourses_path
    %div{:class=> 'span-6'}
      = link_to t('admin.roleinseminaries'), admin_roleinseminaries_path
    %div{:class=> 'span-6 last'}
      = link_to t('admin.roleintheses'), admin_roleintheses_path

  %div{:class => 'span-24 record-even record-catalog'}
    %div{:class=> 'span-6'}
      = '-'
    %div{:class=> 'span-6'}
      = '-'
    %div{:class=> 'span-6'}
      = '-'
    %div{:class=> 'span-6 last'}
      = '-'

  %div{:class => 'span-24 record-even record-catalog'}
    %div{:class=> 'span-6'}
      = '-'
    %div{:class=> 'span-6'}
      = '-'
    %div{:class=> 'span-6'}
      = '-'
    %div{:class=> 'span-6 last'}
      = '-'
