= form_for :search, :remote => true, :html => {:id => "filter_form"} do |f|
  .span-5=t(:fullname)
  .span-3=t(:login)
  .span-5=t(:adscription)
  .span-5=t(:jobpositioncategory)
  .span-3.last=t(:year)

  .span-5= f.text_field :fullname_like, :size => 30
  .span-3= f.text_field :login_like, :size => 10
  .span-5= f.collection_select :adscription_id_eq, Adscription.all, :id, :name, {:prompt => true}, :class => 'chosen-select'
  .span-5= f.collection_select :jobpositioncategory_id_eq, Jobpositioncategory.find_all_by_jobpositiontype_id(1), :id, :name, { :prompt => true }, :class => 'chosen-select'
  .span-3.last= f.collection_select :documenttype_id_eq, Documenttype.annual_reports.all, :id, :year, {:prompt => true}, :class => 'chosen-select'

  .span-5.prepend-19.last
    .search_button= link_to t(:search), "#", :id => "search_button"
    .reset_search_button.last= link_to "Listar todos", "#" , :id => 'reset_search_button'
