-  @user_techproducts = user_role(technical_product, :user_techproducts, current_user.id)
= f.simple_fields_for :user_techproducts, @user_techproducts do |uf|
  - if !f.object.new_record?
    = uf.hidden_field :id
    = uf.hidden_field :techproduct_id, :value => technical_product.id
  = uf.hidden_field :user_id, :value => current_user.id
  .span-9= uf.association :userrole, :collection => Userrole.all, :using => :name, :input_html => {:prompt => true, :class => 'chosen-select', :required => true}
  .span-9.last= uf.input :year, :as => :string, :input_html => { :size => '4', :autocomplete => "off", :required => true }

