-#RMO Added %br after each field
.section-with-border-and-bg
  %h4=t(:general_information)
  .span-4
    %label=t(:fullname)
  .span-14.last= profile.fullname

  .span-4
    %label=t(:gender)
  .span-14.last= profile.gender

  .span-4
    %label=t(:birthday)
  .span-14.last= profile.birthdate

  .span-4
    %label="Domicilio profesional:"
  .span-14.last= profile.professional_address
  -#RMO .span-14.last= profile.address

  .span-4
    %label=t(:phone)
  .span-14.last
    = profile.phone
    %br

  .span-4
    %label=t(:fax)
  .span-14.last
    = profile.fax
    %br
  
  .span-4
    %label=t(:email)
  .span-14.last
    = profile.email
    %br

  .span-4
    %label=t(:person_id)
  .span-14.last
    = profile.person_id
    %br

  .span-4
    %label=t(:category)
  .span-14.last
    = profile.category_name
    %br

  .span-4
    %label=t(:adscription)
  .span-14.last
    = profile.adscription_name
    %br

  .span-4
    %label=t(:worker_id)
  .span-14.last
    = profile.worker_id
    %br

  - if profile.total_of_cites.to_i > 0
    .span-4
      %label=t(:total_of_cites)
    .span-14.last
      = profile.total_of_cites
      %br

  - unless profile.responsible_academic.nil?
    .span-4
      %label=t(:user_incharge)
    .span-14.last= profile.responsible_academic

