.span-17.last
  %h3= "Curriculum Vítae"

= render :partial => 'show_links'

= render :partial => 'profile', :object => @profile

= render :partial => 'section', :collection => @report_sections

= render :partial => 'show_links'
