%h3= @document.documenttype.name
%div{ :class => 'span-20 round_section example last' }
  - if @document.approved_by_id.nil?
    = "Su <em>#{@document.documenttype.name}</em> ha sido enviado.".html_safe 
    = "En breve recibirá la notificación por correo electrónico con un archivo adjunto, "
    = 'una vez que reciba la notificación, su informe también estará disponible en la interfaz web del sistema.'
  - else
    = "Su <em>#{@document.documenttype.name}</em> ha sido enviado a su jefe inmediato: #{@document.approved_by.email}. ".html_safe 
    = "Cuando el documento sea aprobado, "
    = "en breve recibirá la notificación por correo electrónico con un archivo adjunto, "
    = 'y su informe también estará disponible en la interfaz web del sistema.'

%div{ :class => 'span-24 buttons_left last' }
  = link_as_button t(:back), user_annual_reports_path
