.span-17.last
  %h3= "Informe anual de actividades - #{params[:year]}"

= render :partial => 'show_links'

= render :partial => 'profile', :object => @profile

.section-with-border-and-bg
  %b='Breve descripción cualitativa de los logros más importantes del trabajo durante el año'

  = raw(RedCloth.new(@annual_report.body).to_html)

= render :partial => 'research_lines'
= render :partial => 'section', :collection => @report_sections

= render :partial => 'show_links'
