%h3= t('.title')
= simple_form_for @membership, :name_key => :membership, :url => membership_path do |f|
  = render :partial => 'form', :locals => { :f => f }
  #submit_buttons
    = f.submit t(:update)
    = link_to t(:cancel), memberships_path
