%h3= t('memberships.show.title')

.section-with-border-and-bg
  - show_for @membership do |u|
    .row
      .span-18.last= = u.association :institution, :using => :name
    .row
      .span-4= u.attribute :startyear
      .span-4.last= u.attribute :startmonth
    .row
      .span-4= u.attribute :endyear
      .span-4.last= u.attribute :endmonth
    .row
      = render :partial => 'shared/record', :object => @membership

#submit_buttons
  = link_to t(:edit), edit_membership_path(:id => @membership.id)
  = link_to t(:back), memberships_path

