%div{ :class => 'span-24 section_left last' }
  %h3= t('memberships.show.title')
  - show_for @membership do |u|
    = u.association :institution, :using => :name_and_parent_abbrev, :wrapper_html => {:class => 'span-22 last'}
    = u.attribute :descr, :using => :name, :wrapper_html => {:class => 'span-22 last'}
    = u.attribute :startyear, :wrapper_html => {:class => 'span-6'}
    = u.attribute :endyear, :wrapper_html => {:class => 'span-6 last'}

  = render :partial => 'shared/record', :object => @membership

%div{ :class => 'span-14 buttons_left last' }
  = link_as_button t(:edit), edit_membership_path(:id => @membership.id)
  = link_as_button t(:back), memberships_path

