%div{ :class => 'span-14 section_left last' }
  %h3= t('bookchaptertypes.edit.title') 
  = simple_form_for(@bookchaptertype, :bookchaptertype, :url => admin_bookchaptertype_path) do |f|
    = render :partial => 'form', :locals => { :f => f}
    %div{ :class => 'span-14 buttons_left last' }
      = f.submit  t(:update), :class => "ui-state-default ui-corner-all button"
      = link_as_button t(:cancel), admin_bookchaptertypes_path
