<%= error_messages_for :user %>
<div class="title"> Inicio de sesión </div>
<% form_for :user, :url => { :action => "login" } do |f| %>
  <p>
    <b>Usuario:</b> <%= f.text_field :login, :size => 12 %>
  </p>

  <p>
    <b>Contraseña:</b> <%= f.password_field :passwd, :size => 12%>
  </p>

  <p>
    <%= f.submit "Entrar" %>
  </p>
<% end %>
<hr />

<p>¿No tiene una cuenta en el sistema?</p>
<%= link_to_remote "Obtenga una ahora", :url => new_user_path, :method => :get  %>

<hr />
<p>¿Ha olvidado su contraseña?</p>
