
<div class="note">
<% period = Period.most_recent %>
<p>
Registro y resello de Estudiantes Asociados al Instituto de Física de la UNAM (Periodo: <%= period.name %>, Fecha de inicio <%= period.startdate %>).
</p>
<p style="color: green;">
El registro para nuevos estudiantes o resello estar&aacute; abierto hasta el <%= period.enddate %>.
</p>

<p style="background: #ffffff; padding: 10px; border: 1px groove green;">
Esta aplicación es compatible con la versión más reciente de los navegadores: <%= link_to 'Firefox', 'http://www.mozilla-europe.org/es/' %> o <%= link_to 'Internet Explorer.', 'http://www.microsoft.com/spain/windows/downloads/ie/getitnow.mspx' %>
</p>
</div>
