.section-with-border-and-bg
  .row
    = render :partial => "/shared/errors", :object => f.object.errors

  .row
    #schoolarship.span-8
      = f.association :schoolarship, :using => :name, :input_html => {:prompt => true, :class => 'chosen-select'}
      = link_to_new_record 'Agregar una beca', new_schoolarship_path
    .span-10.last=f.input :descr, :as => :text, :input_html => { :size => '60x1' }
  .row
    .span-4= f.input :start_date, :as => :string, :required => true, :input_html => { :size => '10', :class => 'date'}
    .span-4= f.input :end_date, :as => :string, :required => true, :input_html => { :size => '10', :class => 'date' }
    .span-10.last= f.input :amount, :as => :string, :input_html => { :size => '10' }
