%h3=t('.title')

= simple_form_for(@user_regular_course, :as => :user_regular_course, :url => user_regular_courses_path(:format => :js),
                  :remote => true,
                  :html => { :id => 'new_period_form', 'data-regularcourse-id' => @user_regular_course.regularcourse_id}) do |f|
  .dialog-section-with-border-and-bg
    .row
      %b='Curso: '
      = @regular_course.short_description
    .row
      - unless f.object.new_record?
        = f.hidden_field :id
      = f.hidden_field :regularcourse_id
    .row
      = f.hidden_field :user_id, :value => current_user.id
      = f.association :period, :collection =>  period_list_for(@regular_course), :input_html => { :prompt => 'true', :required => true, :class => 'chosen-select'}, :selected => f.object.period_id || period_list_for(@regular_course).first.id
    .row
      = f.association :roleinregularcourse, :as => :radio, :collection => Roleinregularcourse.all, :wrapper_class => 'radio-set'
    .row
      = f.input :hoursxweek, :as => :string, :input_html => { :size => 3}
  #dialog_submit_buttons
    = f.submit t(:save)
