%div{ :class => 'span-14 section_left last' }
  %h3= t('genericworktypes.show.title')
  - show_for @genericworktype do |u|

    = u.attribute :name, :wrapper_html => {:class => 'span-14 last'}


    = u.attribute :abbrev, :wrapper_html => {:class => 'span-14 last'}


%div{ :class => 'span-14 buttons_left last' }
  = link_as_button t(:edit), edit_admin_genericworktype_path(:id => @genericworktype.id)
  = link_as_button t(:back), admin_genericworktypes_path
