%div{ :class => 'span-14 section_left last' }
  %h3= t('periods.show.title')
  - show_for @period do |u|

    = u.attribute :title, :wrapper_html => {:class => 'span-14 last'}


    = u.attribute :startdate, :wrapper_html => {:class => 'span-14 last'}


    = u.attribute :enddate, :wrapper_html => {:class => 'span-14 last'}


%div{ :class => 'span-14 buttons_left last' }
  = link_as_button t(:edit), edit_admin_period_path(:id => @period.id)
  = link_as_button t(:back), admin_periods_path
