%h3= t('.title')
= simple_form_for @proceeding, :url => proceeding_collaborations_path do |f|
  = render :partial => 'form', :locals => { :f => f }
  #submit_buttons
    = f.submit  t(:save)
    = link_to t(:cancel), proceeding_collaborations_path
