.section-with-border-and-bg
  .row
    = render :partial => "/shared/errors", :object => f.object.errors

  .row
    #stimuluslevel.span-8.last
      = f.label :stimuluslevel, :required => true
      = f.collection_select :stimuluslevel_id, Stimuluslevel.all, :id, :name_and_type, {:prompt => true}, :class => 'chosen-select'
      = link_to_new_record 'Agregar una estímulo', new_stimuluslevel_path
  .row
    .span-4= f.input :startyear, :as => :string, :input_html => { :size => '4', :autocomplete => "off" }, :required => true
    .span.last
      = f.label :startmonth, :required => true
      = select_month_for 'startmonth', 'user_stimulus'

  .row
    .span-4= f.input :endyear, :as => :string, :input_html => { :size => '4', :autocomplete => "off" }
    .span-4.last
      = f.label :endmonth
      = select_month_for 'endmonth', 'user_stimulus'

