.section-with-border-and-bg
  .row
    = render :partial => "/shared/errors", :object => f.object.errors

  .row
    #stimuluslevel.span-8.last{'data-controller-name' => 'stimuluslevels'}
      = f.label :stimuluslevel, :required => true
      = f.collection_select :stimuluslevel_id, Stimuluslevel.all, :id, :name_and_type, {:prompt => true}, :class => 'chosen-select select_and_label'
      = link_to_new_record 'Agregar una estímulo', '#'
  .row
    .span-4= f.input :startyear, :as => :string, :input_html => { :size => '4', :autocomplete => "off", :value => Date.today.year }, :required => true
    .span.last
      = f.label :startmonth, :required => true
      = select_month_for 'startmonth', 'user_stimulus'

  .row
    .span-4= f.input :endyear, :as => :string, :input_html => { :size => '4', :autocomplete => "off", :value => Date.today.year }
    .span-4.last
      = f.label :endmonth
      = select_month_for 'endmonth', 'user_stimulus'

