%h3= t('.title')
= simple_form_for @user_stimulus,  :name_key => :user_stimulus, :url => user_stimuli_path do |f|
  = render :partial => 'form', :locals => { :f => f }
  #submit_buttons
    = f.submit  t(:save)
    = link_to t(:cancel), user_stimuli_path
