.section-with-border-and-bg
  .row
    = render :partial => "/shared/errors", :object => f.object.errors

  .row
    .span-9
      - if f.object.new_record?
        = f.input :instructors, :as => :text, :input_html => { :size => '50x1', :value => current_user.author_name }
      - else
        = f.input :instructors, :as => :text, :input_html => { :size => '50x1' }
    .span-9.last= f.input :title, :as => :text, :input_html => { :size => '50x1' }

  .row
    .span-9= f.association :seminarytype, :using => :name, :as => :radio, :wrapper_class => 'radio-set'
    .span-9.last= render :partial => 'user_seminaries/form', :locals => {:seminary => @seminary, :f => f}

  .row
    .span-2
      = f.input :year, :as => :string, :input_html => { :size => '4', :autocomplete => "off" }, :required => true
    .span-7.last
      = f.label :month, :required => true
      = select_month_for 'month', 'seminary'
    #institution.span-9.last
      = f.association :institution, :using => :name , :input_html  => {:class => 'chosen-select'}
      = link_to_new_record 'Agregar institución', new_institution_path
