.span-18.last
  %h3= t('.title')

#nav_links
  = link_to t('.my_seminaries'), seminaries_path
  = link_to t('.not_my_seminaries'), not_my_seminaries_path

= render :partial => 'search_form'

= render :partial => 'collection_header'

#collection_records
  = render :partial => 'record', :collection => @seminaries

= render :partial => 'collection_footer'

= will_paginate(@seminaries)

#submit_buttons
  = link_to t(:new), new_seminary_path
