%h3= t('.title')
= simple_form_for @seminary, :url => seminaries_path do |f|
  = render :partial => 'form', :locals => { :f => f }
  #submit_buttons
    = f.submit  t(:save)
    = link_to t(:cancel), seminaries_path