%h3= t('seminaries.show.title')
.section-with-border-and-bg

  = show_for @seminary do |u|
    .span-8= u.attribute :instructors
    .span-10.last= u.attribute :title
    .row
    .span-8= u.association :seminarytype
    .span-10.last
      = u.association :user_seminaries, :collection_tag => :ol do |record|
        %li= record.author_with_role

    .span-2= u.attribute :year
    .span-6= u.attribute :month
    .span-10.last= u.association :institution, :using => :name

  .row
    = render :partial => 'shared/record', :object => @seminary

#submit_buttons
  = link_to t(:edit), edit_seminary_path(:id => @seminary.id)
  = link_to t(:back), seminaries_path

