%div{ :class => 'span-14 last' }
  = render :partial => "/shared/errors", :object => f.object.errors

= f.input :name, :as => :text, :input_html => { :size => '40x2' }, :wrapper_class => 'span-14 last'

%div{:class=> 'span-14 last'}
  = f.label :institutiontitle_id, :required => true
  = f.collection_select :institutiontitle_id,  Institutiontitle.all, :id, :name, {:prompt => true, :selected => 2, :required => true}

%div{:class=> 'span-14 last'}
  = f.label :institutiontype_id, :required => true
  = f.collection_select :institutiontype_id,  Institutiontype.all, :id, :name, {:prompt => true, :selected => 2, :required => true}

%div{:class=> 'span-14 last'}
  = f.label :country_id, :required => true
  = f.collection_select :country_id,  Country.all, :id, :name, {:prompt => true, :selected => 2, :required => true}

