.section-with-border-and-bg
  %h3= t('.title')
  .row
    .span-3= image_for_person(f.object)
    .span-5.last
      = f.label :image
      = f.simple_fields_for :image_attributes do |image_form|
        = render :partial => 'images/form', :locals => { :f => image_form}

  %h4 Información de contacto para casos de emergencia
  .row
    = f.input :contact_name_1 , :label =>'Nombre de contacto para emergencia', :as => :string, :input_html => { :size => 30}
    = f.input :contact_phonenumber_1, :label =>'<br />Teléfono', :as => :string, :input_html => { :size => 15}
  .row
    = f.input :contact_name_2, :label =>'Nombre de contacto (2) para emergencia', :as => :string, :input_html => { :size => 30}
    = f.input :contact_phonenumber_2, :label =>'<br />Teléfono (2)', :as => :string, :input_html => { :size => 15}
  .row
    = f.input :contact_name_3,:label =>'Nombre de contacto (3) para emergencia', :as => :string, :input_html => { :size => 30}
    = f.input :contact_phonenumber_3, :label =>'<br />Teléfono (3)', :as => :string, :input_html => { :size => 15}
  .row
    = f.input :medical_condition, :label =>'Antecedentes o afecciones médicas importantes a considerar en caso de  emergencia', :as => :text, :input_html => { :rows => 3, :cols => 28}
    = f.input :medical_instruction, :label =>'<br />Instrucciones y recomendaciones para un caso de emergencia', :as => :text, :input_html => { :rows => 3, :cols => 28}
  .row
    = f.input :hospital, :label =>'Hospital de preferencia y médico tratante  en caso de requerir atención de emergencia', :as => :text, :input_html => { :rows => 3, :cols => 28}
    = f.input :insurance, :label =>'<br />Datos del seguro medico en caso de requerir atención de emergencia', :as => :text, :input_html => { :rows => 3, :cols => 28}

