%div{ :class => 'span-24 section_left last' }
  %h2 Información general
  - show_for record do |p|
    = p.attribute :firstname
    = p.attribute :lastname1
    = p.attribute :lastname2
    = p.attribute :title
    = p.attribute :gender
    = p.association :maritalstatus, :using => :name
    = p.association :country, :using => :name
    = p.association :state, :using => :name
    = p.association :city, :using => :name
