.section-with-border-and-bg

  %h4 Datos personales
  = show_for record do |p|
    .row
      .span-3
        = image_for_person(record)
    .row
      = p.attribute :firstname
      = p.attribute :lastname1
      = p.attribute :lastname2
      .span-2.last= p.attribute :title
    .row
      .wrapper
        %strong=t('activerecord.attributes.person.gender')
        %br
        = (record.gender.is_a? TrueClass) ? 'Másculino' : 'Femenino'

      = p.association :maritalstatus, :using => :name
      = p.attribute :dateofbirth
      .span-2.last= p.attribute :title_en
    .row
      = p.association :country, :using => :name
      = p.association :state, :using => :name
      = p.association :city, :using => :name
    %h5 Información relevante en caso de emergencia
    .row
      = p.attribute :contact_name_1
      = p.attribute :contact_phonenumber_1
    - if current_user.has_contact_2?
      .row
        = p.attribute :contact_name_2
        = p.attribute :contact_phonenumber_2
    - if current_user.has_contact_3?
      .row
        = p.attribute :contact_name_3
        = p.attribute :contact_phonenumber_3
    .long_row
      = p.attribute :medical_condition
    .long_row
      = p.attribute :medical_instruction
    .long_row
      = p.attribute :hospital
    .long_row
      = p.attribute :insurance