.section-with-border-and-bg

  %h4 Datos personales
  = show_for record do |p|
    .row
      .span-3
        = image_for_person(record)
    .row
      = p.attribute :firstname
      = p.attribute :lastname1
      = p.attribute :lastname2
      .span-2.last= p.attribute :title
    .row
      .wrapper
        %strong=t('activerecord.attributes.person.gender')
        %br
        = (record.gender.is_a? TrueClass) ? 'Másculino' : 'Femenino'

      = p.association :maritalstatus, :using => :name
      = p.attribute :dateofbirth
      .span-2.last= p.attribute :title_en
    .row
      = p.association :country, :using => :name
      = p.association :state, :using => :name
      = p.association :city, :using => :name
