.section-with-border-and-bg

  %h4 Datos personales
  = show_for record do |p|
    .row
      .span-3
        = image_for_person(record)
    .row
      = p.attribute :firstname
      = p.attribute :lastname1
      = p.attribute :lastname2
      .span-2.last= p.attribute :title
    .row
      = p.attribute :gender
      = p.association :maritalstatus, :using => :name
      = p.attribute :dateofbirth
    .row
      = p.association :country, :using => :name
      = p.association :state, :using => :name
      = p.association :city, :using => :name
