.section-with-border-and-bg
  .row= render :partial => "/shared/errors", :object => f.object.errors

  .row
    .span-12= f.input :indivname, :as => :string, :input_html => { :size => '80' }
    #institution.span-6.last
      = f.association :institution, :using => :name , :input_html  => {:class => 'chosen-select'}
      = link_to_new_record 'Agregar institución', new_institution_path

  .row
    .span-3
      = f.input :startyear, :as => :string, :input_html => { :size => '4', :autocomplete => "off", :value => Date.today.year }
    .span-6
      = f.label :startmonth, :required => true
      = select_month_for 'startmonth', 'advice'

    .span-3
      = f.input :endyear, :as => :string, :input_html => { :size => '4', :autocomplete => "off", :value => Date.today.year }
    .span-6.last
      = f.label :endmonth, :required => true
      = select_month_for 'endmonth', 'advice'

  .row
    = f.input :hours, :as => :string, :input_html => { :size => '4', :autocomplete => "off" }, :required => true
    = f.hidden_field :indivadvicetarget_id, :value => 4

