.row{:id => dom_id(record), :class =>  cycle('record-odd', 'record-even')}
  .span-1= checkbox_to_del(record)
  .span-11= record.as_text
  .action= link_to_show professor_advice_path(:id => record.id)
  .action= link_to_edit edit_professor_advice_path(:id => record.id)
  .action.last= link_to_delete record, professor_advice_path(:id => record.id)
