%h3= t('.title')
= simple_form_for @advice, :as => :advice, :url => professor_advice_path do |f|
  = render :partial => 'form', :locals => { :f => f }
  #submit_buttons
    = f.submit  t(:update)
    = link_to t(:cancel), professor_advices_path
