%h3= t('professor_advices.show.title')
.section-with-border-and-bg

  = show_for @advice do |u|
    .span-10= u.attribute :indivname
    .span-8.last= u.association :institution, :using => :name_and_parent_abbrev

    .row
      .span-4= u.attribute :startyear
      .span-5= u.attribute :startmonth
      .span-4= u.attribute :endyear
      .span-5.last= u.attribute :endmonth

    .row
      = u.attribute :hours
  .row
    = render :partial => 'shared/record', :object => @advice

#submit_buttons
  = link_to t(:edit), edit_professor_advice_path(:id => @advice.id)
  = link_to t(:back), professor_advices_path

