%h3= t('.title')
= simple_form_for @activity, :other_teaching_activity, :url => other_teaching_activity_path do |f|
  = render :partial => 'form', :locals => { :f => f }
  #submit_buttons
    = f.submit  t(:update)
    = link_to t(:cancel), other_teaching_activities_path