.row{:id => dom_id(record), :class =>  cycle('record-odd', 'record-even')}
  .span-1= checkbox_to_del(record)
  .span-11= record.to_s
  .action= link_to_show  user_research_line_path(:id => record.id)
  .action= link_to_edit edit_user_research_line_path(:id => record.id)
  .action.last= link_to_delete record, user_research_line_path(:id => record.id)
