.span-17.last
  %h3= t('.title')

#submit_buttons
  = link_to t(:new), new_user_research_line_path

= render :partial => 'search_form'

#collection_header
  .span-1="&nbsp;".html_safe
  .span-11=t(:research_lines)
  .action=t(:show)
  .action=t(:edit)
  .span1.last=t(:del)

#collection_records
  = render :partial => 'record', :collection => @researchlines

= render :partial => 'collection_footer'

= paginate(@researchlines)

#submit_buttons
  = link_to t(:new), new_user_research_line_path
