.section-with-border-and-bg
  .row
    = render :partial => "/shared/errors", :object => f.object.errors

  .row
    .span-9= f.input :authors, :as => :text, :input_html => { :size => '50x3' }
    .span-9.last= f.input :title, :as => :text, :input_html => { :size => '50x3' }

  .row
    #journal.span-6.last
      = f.association :journal, :using => :name , :input_html  => {:class => 'chosen-select'}
      = link_to_new_record 'Agregar journal', new_journal_path
    .span-2
      = f.input :year, :as => :string, :input_html => { :size => '4', :autocomplete => "off" }, :required => true
    .span-6.last
      = f.label :month, :required => true
      = select_month_for 'month', 'article'

  .row
    .span-4= f.input :vol, :as => :string, :input_html => { :size => '20', :autocomplete => "off", :required => true }
    .span-4= f.input :num, :as => :string, :input_html => { :size => '20', :autocomplete => "off" }
    .span-4= f.input :pages, :as => :string, :input_html => { :size => '20', :autocomplete => "off", :required => true  }
    .span-6.last= f.input :doi, :as => :string, :input_html => { :size => '20', :autocomplete => "off" }

  .row
    .span-9= f.input :url, :as => :string, :input_html => { :size => '40', :autocomplete => "off" }
    .span-9.last= f.input :other, :as => :text, :input_html => { :size => '50x1' }

  = f.hidden_field :articlestatus_id, :value => 3
  - unless UserArticle.where(:user_id => current_user.id, :article_id => @article.id).first.nil? 
    - @user_articles = UserArticle.where(:user_id => current_user.id, :article_id => @article.id).first
  - else
    - @user_articles = @article.user_articles.build
  = f.simple_fields_for :user_articles, @user_articles do |uf|
    - if !f.object.new_record?
      = uf.hidden_field :id
      = uf.hidden_field :article_id, :value => @article.id
    = uf.hidden_field :user_id, :value => current_user.id
    = uf.hidden_field :ismainauthor, :value => true
    = uf.input :show_in_home_page
