.span-1= checkbox_to_delete(article)
.span-8
  = article.as_text
  .not_associated{:title => t(:not_associated)}
.associated_authors
  .authors_size= article.users.size
  = link_to_user_list user_list_article_path(:id => article.id, :format => 'js')
.author_action
  = link_to_add_author t(:add_author), add_user_article_path(:id => article.id, :format => :js)
.action
  = link_to_show article_path(:id => article.id)
.action
  =link_to_edit edit_article_path(:id => article.id)
.action
  = link_to_delete article, article_path(:id => article.id)