%tr{:class => "filter_header", :id => "filter_header"}
  = form_for :search, :remote => true, :html => {:id => "filter_form"} do |f|
    %th{:class => 'ui-state-default', :style => 'width: 5%;'}
      =t(:id)
    %th{:class => 'ui-state-default', :style => 'width: 55%;'}
      %div{:class => 'span-2'}=t(:authors)
      %div{:class => 'span-2'}=t(:title)
      %div{:class => 'span-2'}=t(:journal)
      %div{:class => 'span-4'}=t(:adscription)
      %div{:class => 'span-2 last'}=t(:year)

      %div{:class => 'span-2'}= f.text_field :authors_like_ignore_case, :size => 8
      %div{:class => 'span-2'}= f.text_field :title_like_ignore_case, :size => 8
      %div{:class => 'span-2'}
        = text_field :autocomplete_filter, :journal_name, :size => 7
        = f.hidden_field :journal_id_eq
      %div{:class => 'span-4'}= f.collection_select :adscription_id_eq, Adscription.enabled, :id, :name, :prompt => true
      %div{:class => 'span-2 last'}= f.text_field :year_eq, :size => 4
    %th{:class => 'ui-state-default', :style => 'width: 10%;'}
      ='Autores del instituto'
    %th{:class => 'ui-state-default', :style => 'width: 90px;'}
      ='Asociarse/Quitarse como autor'
    %th{:class => 'ui-state-default', :style => 'width: 60px;'}
      =t(:show)
    %th{:class => 'ui-state-default', :style => 'width: 60px;'}
      =t(:edit)
    %th{:class => 'ui-state-default', :style => 'width: 60px;'}
      =t(:del)