%h3= t('articles.show.title')
.section-with-border-and-bg

  = show_for @article do |u|
    .span-9= u.attribute :authors
    .span-9.last= u.attribute :title

    .row
      .span-9= u.association :journal, :using => :name
      .span-2= u.attribute :year
      .span-4.last= u.attribute :month

    .row
      .span-5= u.attribute :num
      .span-4= u.attribute :vol
      .span-4= u.attribute :pages
      .span-3.last= u.attribute :doi

    .row
      .span-9
        - if @article.url.strip.empty?
          %strong{:class=>'label'}= t(:url)
          = link_to t(:url), @article.url, :target => '_blank'
        - else
          = u.attribute :url
      .span-9.last= u.attribute :other

    .span-18.last
      %b= t(:authors)
      %ul
        - @article.users.each do |record|
          %li= record.author_name

    .row
      = render :partial => 'shared/record', :object => @article


#submit_buttons
  = link_to t(:edit), edit_article_path(:id => @article.id)
  = link_to t(:back), articles_path