%div{ :class => 'span-24 section_left last' }
  %h3= t('articles.show.title')
  - show_for @article do |u|
    = u.attribute :authors, :wrapper_html => {:class => 'span-12'}
    = u.attribute :title, :wrapper_html => {:class => 'span-12 last'}

    = u.association :journal, :using => :name, :wrapper_html => {:class => 'span-12'}
    = u.attribute :year, :using => :name, :wrapper_html => {:class => 'span-6'}
    = u.attribute :month, :using => :name, :wrapper_html => {:class => 'span-6 last'}

    = u.attribute :num, :using => :name, :wrapper_html => {:class => 'span-6'}
    = u.attribute :vol, :using => :name, :wrapper_html => {:class => 'span-6'}
    = u.attribute :pages, :using => :name, :wrapper_html => {:class => 'span-6'}
    = u.attribute :doi, :using => :name, :wrapper_html => {:class => 'span-6 last'}

    = u.attribute :url, :wrapper_html => {:class => 'span-12'}
    = u.attribute :other, :wrapper_html => {:class => 'span-12 last'}
  = render :partial => 'shared/record', :object => @article

%div{ :class => 'span-14 buttons_left last' }
  = link_as_button t(:edit), edit_article_path(:id => @article.id)
  = link_as_button t(:back), articles_path

