= render :partial => "/shared/errors", :object => f.object.errors
%div{ :class => 'span-24 section_left append-bottom last' }
  %h3= t('.title')
  = f.input :login, :as => :string, :input_html => { :size => 12, :autocomplete => "off" }, :wrapper_class => 'span-8'
  = f.input :password, :input_html => { :size => 12 }, :wrapper_class => 'span-8'
  = f.input :password_confirmation, :input_html => { :size => 12 }, :required => true, :wrapper_class => 'span-8 last'

  = f.input :email, :as => :string, :input_html => { :size => 15 }, :autocomplete => "off", :wrapper_class => 'span-8'
  %div{:class=> 'span-8'}
    = f.label :userstatus_id, :required => true
    = f.collection_select :userstatus_id, Userstatus.all, :id, :name, {:prompt => true, :selected => 2, :required => true}
  %div{:class=> 'span-8 last'}    
    = f.label :user_incharge
    %div{:id => 'user_fullname'}
      - if f.object.new_record?
        = render :partial => 'academic_secretary/users/autocomplete_fullname'
      - else
        = render :partial => 'academic_secretary/users/record_show', :object => f.object.user_incharge
    = f.hidden_field :user_incharge_id
  = f.simple_fields_for :user_group_attributes, @user.user_group do |user_group_form|
    = render :partial => 'user_groups/academic_form', :locals => { :f => user_group_form}

= f.simple_fields_for :person_attributes, @user.person do |person_form|
  = render :partial => 'people/form', :locals => { :f => person_form }

= f.simple_fields_for :user_identification_attributes, @user.user_identification do |identification_form|
  = render :partial => 'user_identifications/academic_form', :locals => { :f => identification_form }

= f.simple_fields_for :address_attributes, @user.address do |address_form|
  = render :partial => 'addresses/academic_form', :locals => { :f => address_form }

= f.simple_fields_for :jobposition_attributes, @user.jobposition do |jobposition_form|
  = render :partial => 'jobpositions/academic_form', :locals => { :f => jobposition_form }

- # @user.user_schoolarships.build if @user.user_schoolarships.size < 1
%div{ :class => 'span-24 section_left last' }
  %h3= t('.schoolarships')
  = f.simple_fields_for :user_schoolarship_attributes, @user.user_schoolarship do |schoolarship_form|
    = render :partial => 'user_schoolarships/form', :locals => { :f => schoolarship_form }
