= render :partial => "/shared/errors", :object => f.object.errors
%div{ :class => 'span-24 section_left last' }
  %h2 Cuenta de usuario

  %div{:class=> 'span-8'}
    = f.label :login
  %div{:class=> 'span-8'}
    = f.label :password
  %div{:class=> 'span-8 last'}
    = f.label :password_confirmation
  %div{:class=> 'span-8 '}
    = f.text_field :login, :size => 12, :autocomplete => "off"
  %div{:class=> 'span-8'}
    = f.password_field :password, :size => 12
  %div{:class=> 'span-8 last'}
    = f.password_field :password_confirmation, :size => 12

  %div{:class=> 'span-8'}
    = f.label :email
  %div{:class=> 'span-8'}
    = f.label :userstatus_id
  %div{:class=> 'span-8 last'}
    = f.label :user_incharge_id
  %div{:class=> 'span-8'}
    = f.text_field :email, :autocomplete => "off"
  %div{:class=> 'span-8'}
    = f.collection_select  :userstatus_id, Userstatus.all, :id, :name, {:prompt => true}
  %div{:class=> 'span-8 last'}    
    %div{:id => 'user_fullname'}
      - if f.object.new_record?
        = render :partial => 'academic_secretary/users/autocomplete_fullname'
      - else
        = render :partial => 'academic_secretary/users/record_show', :object => f.object.user_incharge
      
    = f.hidden_field :user_incharge_id
  = f.simple_fields_for :user_group_attributes, @user.user_group do |user_group_form|
    = render :partial => 'user_groups/academic_form', :locals => { :f => user_group_form}
  = f.simple_fields_for :person_attributes, @user.person do |person_form|
    = render :partial => 'people/form', :locals => { :f => person_form}