%div{:class => 'ui-widget ui-widget-content ui-corner-all show_user_profile', :id => 'show_profile_'+ dom_id(@user)}
  %div
    %b='Perfil del usuario'
    %div{:class => "ui-state-default ui-corner-all", :style => 'width: 16px; margin-left: 11px; float:right;'}
      = link_to_function content_tag(:span, '', {:class =>'ui-icon ui-icon-close'}), "$('#show_profile_#{dom_id(@user)}').remove();"
  %div{ :class => 'span-10 last'}
    %div{ :class => 'span-2'}
      = image_tag('avatar_missing_icon.png', :border => '0')
    %div{ :class => 'span-8 last'}
      %em='Nombre: '
      = @user.fullname_or_email
      %br
      %em='Departamento: '
      = @user.adscription_name
      %br
      %em='Responsable académico: '
      = @user.user_incharge_fullname
      %br
      %em='Correo electrónico: '
      = @user.email
  %div{ :class => 'span-10 last'}
    %div{ :class => 'span-3'}
      %em='Becas: ' 
    %div{ :class => 'span-7 last'}
      = @user.postdoctoral_schoolarships.collect { |record| content_tag(:li, record.schoolarship.name_and_institution_abbrev) }.join("\n").html_safe
  %div{ :class => 'span-10 last'}
    %div{ :class => 'span-3'}
      %em='Documentos: '
    %div{ :class => 'span-7 last '}
      = @user.documents.collect { |record|  link_to(record.document_type.name,  record.file.url, :style => 'color: blue;') }.join(', ').html_safe
  %div{:class => 'span-10 last', :style => 'margin-top:10px;'}
    = link_to content_tag(:span, '', :class => 'ui-button-icon-primary ui-icon ui-icon-zoomin') , academic_secretary_user_path(@user), :title => 'Ver detalles', :class => "ui-button ui-button-icon ui-widget ui-state-default ui-corner-all"
    = link_to content_tag(:span, '', :class => 'ui-button-icon-primary ui-icon ui-icon-document') , edit_academic_secretary_user_path(:id => @user.id), :title => 'Modificar', :class => "ui-button ui-button-icon ui-widget ui-state-default ui-corner-all"
    = link_to content_tag(:span, '', :class => 'ui-button-icon-primary ui-icon ui-icon-document-b') , academic_secretary_user_path(@user, :format => 'pdf'), :title => 'Solicitud de Credencial para el CTIC', :class => "ui-button ui-button-icon ui-widget ui-state-default ui-corner-all", :target => '_new'
