.section-with-border-and-bg
  .row
    = render :partial => "/shared/errors", :object => f.object.errors

  .row
    .span-9= f.input :title, :as => :string, :input_html => {:size => 50}
    .span-9.last= f.input :authors, :as => :string, :input_html => {:size => 50}

  .row
    .span-6
      -  @user_theses = user_role(@thesis, :user_theses, current_user.id)
      = f.simple_fields_for :user_theses, @user_theses do |ut|
        = render :partial => 'user_theses/form', :locals => { :f => ut }
    .span-6= f.association :thesismodality, :as => :radio, :wrapper_class => 'radio-set'
    .span-6.last= f.association :thesisstatus, :as => :radio, :wrapper_class => 'radio-set'

  .row
    .span-3
      = f.input :startyear, :as => :string, :input_html => { :size => '4', :autocomplete => "off" }
    .span-6
      = f.label :startmonth, :required => true
      = select_month_for 'startmonth', 'thesis'

    .span-3
      = f.input :endyear, :as => :string, :input_html => { :size => '4', :autocomplete => "off" }
    .span-6.last
      = f.label :endmonth, :required => true
      = select_month_for 'endmonth', 'thesis'
  - f.object.career = Career.new if f.object.career.nil?
  = f.simple_fields_for :career, f.object.career do |c|
    = render :partial => 'careers/form', :locals => { :f => c}
