= render :partial => 'shared/search_options'
= form_for :search, :remote => true, :html => {:id => "filter_form", :style => search_form_display_enabled} do |f|
  .span-4=t(:authors)
  .span-4=t(:title)
  .span-4=t(:start_date)
  .span-4.last=t(:end_date)

  .span-4= f.text_field :authors_like_ignore_case, :size => 15
  .span-4= f.text_field :title_like_ignore_case, :size => 15
  .span-4= f.text_field :start_date_eq, :size => 9, :class => 'date'
  .span-4.last= f.text_field :end_date_eq, :size => 9, :class => 'date'

  .span-5.prepend-13.last
    .search_button= link_to t(:search), "#", :id => "search_button"
    .reset_search_button.last= link_to "Listar todos", "#" , :id => 'reset_search_button'
