%div{:class => 'span-24 last'}
  %div{:class => 'span-8'}
    %h3= t('.title')
  %div{:class=> 'span-16 nav_links last'}
    = link_to t('.my_theses'), theses_path
    = link_to t('.not_my_theses'), not_my_theses_path

%br
%table{:id => 'collection_table', :class => 'ui-widget-header ui-corner-tl ui-corner-tr ui-helper-clearfix'}
  %thead{:id => "filter_header"}
    = render :partial => 'filter_header'
    %tbody{:id =>'collection'}
      = render :partial => 'record', :collection => @theses
      = render :partial => 'collection_footer'
    %tfoot{:id => 'paginator'}
      %tr
        %th
          = will_paginate @theses

%div{ :class => 'span-24 buttons_left last' }
  = link_as_button t(:new), new_thesis_path
