%h3= t('.title')
= simple_form_for @thesis, :as => :thesis, :url => theses_path do |f|
  = render :partial => 'form', :locals => { :f => f }
  #submit_buttons
    = f.submit  t(:save)
    = link_to t(:cancel), theses_path
