%div{ :class => 'span-24 section_left last' }
  %h3= t('theses.show.title')
  = show_for @thesis do |u|
    %div{:class=> 'span-21 section_left push-1 last'}
      = u.attribute :title, :wrapper_html => {:class => 'span-10'}
      = u.attribute :authors, :wrapper_html => {:class => 'span-10i last'}

    %div{:class=> 'span-21 section_left push-1 last'}
      %div{:class=> 'span-10'}
        %label Grado
        = @thesis.career.degree.name
      %div{:class=> 'span-11 last'}
        %label Carrera 
        = @thesis.career.name

    %div{:class=> 'span-21 section_left push-1 last'}
      %div{:class=> 'span-12'}
        %label Facultad o Escuela
        = @thesis.career.institution.name
      %div{:class=> 'span-9 last'}
        %label Institución 
        = @thesis.career.institution.institution.name
      %div{:class=> 'span-12'}
        %label Tipo
        = @thesis.career.institution.institutiontitle.name
      %div{:class=> 'span-5'}
        %label Clasificación 
        = @thesis.career.institution.institutiontype.name
      %div{:class=> 'span-4 last'}
        %label País 
        = @thesis.career.institution.country.name
    %div{:class=> 'span-21 section_left push-1 last'}
      = u.association :thesismodality, :using => :name, :wrapper_html => {:class => 'span-10'}
      = u.association :thesisstatus, :using => :name, :wrapper_html => {:class => 'span-11 last'}

      = u.attribute :startyear, :wrapper_html => {:class => 'span-5'}
      = u.attribute :startmonth, :wrapper_html => {:class => 'span-5'}
      = u.attribute :endyear, :wrapper_html => {:class => 'span-5'}
      = u.attribute :endmonth, :wrapper_html => {:class => 'span-6 last'}

  = render :partial => 'shared/record', :object => @thesis

%div{ :class => 'span-14 buttons_left last' }
  = link_as_button t(:edit), edit_thesis_path(:id => @thesis.id)
  = link_as_button t(:back), theses_path

