%h3= t('theses.show.title')
.section-with-border-and-bg
  = show_for @thesis do |u|
    .span-9= u.attribute :title
    .span-9.last= u.attribute :authors

    .span-18.last
      .span-9= u.association :thesismodality, :using => :name
      .span-9.last= u.association :thesisstatus, :using => :name

    .span-4= u.attribute :startyear
    .span-5= u.attribute :startmonth
    .span-4= u.attribute :endyear
    .span-5.last= u.attribute :endmonth

    .span-18.last
      = render :partial => 'careers/show', :locals => { :record => @thesis.career }
    .span-18.last
      %h4=t(:school_or_faculty)
      = render :partial => 'institutions/show', :locals => { :record => @thesis.career.institution }

    .span-18.last
      %h4=t(:associated_academics)
      %ul
        - @thesis.user_theses.each do |record|
          %li= record.as_text

  .row
    = render :partial => 'shared/record', :object => @thesis

#submit_buttons
  = link_to t(:edit), edit_thesis_path(:id => @thesis.id)
  = link_to t(:back), theses_path

