.section-with-border-and-bg
  = render :partial => "/shared/errors", :object => f.object.errors
  - @user.build_user_cite if @user.user_cite.nil?
  = f.simple_fields_for :user_cite do |form|
    = f.hidden_field :id, :value => form.object.id

    = form.input :author_name, :as => :string, :input_html => { :size => 30, :required => true }
    = form.input :total, :as => :string, :input_html => { :size => 4, :required => true }
