.span-18.last
  %h3= t('.title')

#nav_links
  = link_to t('.my_courses'), course_attendees_path
  = link_to t('.not_my_courses'), not_my_course_attendees_path

= render :partial => 'search_form'

= render :partial => 'collection_header'

#collection_records
  = render :partial => 'record', :collection => @courses

= render :partial => 'collection_footer'

= will_paginate(@courses)

#submit_buttons
  = link_to t(:new), new_course_attendee_path