= render :partial => "/shared/errors", :object => f.object.errors
%div{ :class => 'span-24 section_left append-bottom last' }
  = f.input :author_name, :as => :string, :input_html => { :size => '80' }, :wrapper_class => 'span-12 '
  = f.input :homepage, :as => :string, :input_html => { :size => '80' }, :wrapper_class => 'span-12 last'
  = f.input :blog, :as => :string, :input_html => { :size => '80' }, :wrapper_class => 'span-12'
  = f.input :calendar, :as => :string, :input_html => { :size => '80' }, :wrapper_class => 'span-12 last'

