%h3= t('.title')
= simple_form_for @advice, :as => :advice, :url => institutional_advice_path, :html => { :multipart => true, :id => 'record'} do |f|
  = render :partial => 'form', :locals => { :f => f }
  #submit_buttons
    = f.submit  t(:update)
    = link_to t(:cancel), institutional_advices_path
