%h3= t('institutional_advices.show.title')
.section-with-border-and-bg

  = show_for @advice do |u|
    .span-18.last= u.attribute :title

    .span-9= u.association :instadvicetarget, :using => :name
    .span-9.last= u.association :institution, :using => :name_and_parent_abbrev

    .span-3= u.attribute :year
    .span-15.last= u.attribute :month

  .row
    = render :partial => 'shared/record', :object => @advice

#submit_buttons
  = link_to t(:edit), edit_institutional_advice_path(:id => @advice.id)
  = link_to t(:back), institutional_advices_path

