%div{ :class => 'span-14 section_left last' }
  %h3= t('addresstypes.edit.title') 
  = simple_form_for(@addresstype, :addresstype, :url => admin_addresstype_path) do |f|
    = render :partial => 'form', :locals => { :f => f}
    %div{ :class => 'span-14 buttons_left last' }
      = f.submit  t(:update), :class => "ui-state-default ui-corner-all button"
      = link_as_button t(:cancel), admin_addresstypes_path
