.span-1= checkbox_to_delete(record)
.span-6
  = record.as_text
  = image_tag('associated_record.png', :border => 0, :style => 'float: right;', :title => t(:attendee) )
.action
  %div{:class => 'ui-widget ui-widget-content ui-corner-all associated_authors', :style => 'width: 32px; height:18px; padding: 2px;', :id => 'associated_authors_' + dom_id(record) }
    %span{:style => 'float: left; text-align: right; color:white; margin-left: 5px;', :id => 'associated_authors_size_'+ dom_id(record) }
      = record.users.size
    %div{:class => "ui-state-default ui-corner-all", :style => 'heigth: 16px;'}
      = link_to_user_list record, user_list_conference_attendee_path(:id => record.id, :format => 'js')
.action
  = link_to_del_author t(:del_attendee), del_user_conference_attendee_path(:id => record.id, :format => :js)
.action
  = link_to_show conference_attendee_path(:id => record.id)
.action
  =link_to_edit  edit_conference_attendee_path(:id => record.id)
.action
  = link_to_delete record, conference_attendee_path(:id => record.id)
