%div{ :class => 'span-24 section_left append-bottom last' }
  = render :partial => "/shared/errors", :object => f.object.errors
  = render :partial => '/conferences/form', :locals => { :f => f }
  -  @userconferences = user_role(@conference, :userconferences, current_user.id)
  = f.simple_fields_for :userconferences, @userconferences do |uc|
    - unless f.object.new_record?
      = uc.hidden_field :id
      = uc.hidden_field :conference_id, :value => @conference.id
    = uc.hidden_field :user_id, :value => current_user.id
    = uc.hidden_field :roleinconference_id, :value => 1
