.span-1= checkbox_to_delete(record)
.span-6
  = record.as_text
  %div{:class => 'ui-state-highlight ui-corner-all', :id => 'associated_records'}
    %span{:class => 'ui-icon ui-icon-info', :style => 'float: right;', :title => t(:not_attendee)}
.action
  %div{:class => 'ui-widget ui-widget-content ui-corner-all associated_authors', :style => 'width: 32px; height:18px; padding: 2px;', :id => 'associated_authors_' + dom_id(record) }
    %span{:style => 'float: left; text-align: right; color:white; margin-left: 5px;', :id => 'associated_authors_size_'+ dom_id(record) }
      = record.users.size
    %div{:class => "ui-state-default ui-corner-all", :style => 'heigth: 16px;'}
      = link_to_user_list record, user_list_conference_attendee_path(:id => record.id, :format => 'js')
.action
  = link_to_add_author t(:add_attendee),  add_user_conference_attendee_path(:id => record.id, :roleinconference_id => 1, :format => :js)
.action
  = link_to_show conference_attendee_path(:id => record.id)
.action
  = link_to_edit edit_conference_attendee_path(:id => record.id)
.action
  = link_to_delete record, conference_attendee_path(:id => record.id)
