.span-18.last
  %h3= t('.title')

#nav_links
  = link_to t('.my_conferences'), conference_attendees_path
  = link_to t('.not_my_conferences'), not_my_conference_attendees_path

= render :partial => 'search_form'

#collection_header
  .span-1="Id"
  .span-6=t('.title')
  .action='*'
  .action='*'
  .action=t(:show)
  .action=t(:edit)
  .action.last=t(:del)

#collection_records
  = render :partial => 'record', :collection => @conferences

= render :partial => 'collection_footer'

= will_paginate(@conferences)

#submit_buttons
  = link_to t(:new), new_conference_attendee_path