%h3= t('.title')
= simple_form_for @conference, :url => conference_attendees_path do |f|
  = render :partial => 'form', :locals => { :f => f }
  #submit_buttons
    = f.submit  t(:save)
    = link_to t(:cancel), conference_attendees_path