%div{ :class => 'span-24 section_left last' }
  %h2 Adscripción

  - if !f.object.nil? and !f.object.new_record?
    = f.hidden_field :id
    = f.hidden_field :user_id
    = f.hidden_field :jobposition_id

  %div{ :class => 'span-24 last' }
    %div{:class=> 'span-6'}
      = f.label :adscription
    %div{:class=> 'span-18 last'}
      = f.label :descr
    %div{:class=> 'span-6'}
      = f.collection_select :adscription_id, Adscription.all, :id, :name, { :prompt => true }
    %div{:class=> 'span-18 last'}
      = f.text_area :descr, :size => '50x3'

  %div{ :class => 'span-24 last' }
    %div{:class=> 'span-6'}
      = f.label :startmonth
    %div{:class=> 'span-6'}
      = f.label :startyear
    %div{:class=> 'span-6'}
      = f.label :endmonth
    %div{:class=> 'span-6 last'}
      = f.label :endyear
    %div{:class=> 'span-6'}
      = select_month(Date.today, :field_name => 'startmonth', :prefix => "user[jobposition_attributes][user_adscription_attributes]")
    %div{:class=> 'span-6'}
      = f.text_field :startyear, :size => 4, :maxlength => 4
    %div{:class=> 'span-6'}
      = select_month(Date.today, :field_name => 'endmonth', :prefix => "user[jobposition_attributes][user_adscription_attributes]")
    %div{:class=> 'span-6 last'}
      = f.text_field :endyear, :size => 4, :maxlength => 4