%div{ :class => 'span-12' }
  - if !f.object.nil? and !f.object.new_record?
    = f.hidden_field :id
    = f.hidden_field :jobposition_id

  %div{ :class => 'span-12 last' }
    %div{:class=> 'span-6'}
      = f.label :adscription, :required => true
      = f.collection_select :adscription_id, Adscription.where("id <=6").all, :id, :name, { :prompt => true }
    = f.input :descr, :as => :text, :input_html => {:size => '25x3'}, :wrapper_class => 'span-6 last'
