.section-with-border-and-bg
  .row
    = render :partial => "/shared/errors", :object => f.object.errors

  .row
    .span-9
      = f.input :descr, :as => :text, :input_html => { :size => '50x2' }
    .span-9.last
      #institution
      = f.association :institution, :using => :name, :input_html => {:prompt => true, :class => 'chosen-select', :required => true}
      = link_to_new_record 'Agregar institución', new_institution_path
  .row
    .span-3
      = f.input :startyear, :as => :string, :input_html => { :size => '4', :autocomplete => "off" }
    .span-6
      = f.label :startmonth, :required => true
      = select_month_for 'startmonth', 'institutional_activity'

    .span-3
      = f.input :endyear, :as => :string, :input_html => { :size => '4', :autocomplete => "off" }
    .span-6.last
      = f.label :endmonth, :required => true
      = select_month_for 'endmonth', 'institutional_activity'
