%h3= t('.title')
/= simple_form_for @institutional_activity, :institutional_activity, :url => institutional_activity_path do |f|
= simple_form_for @institutional_activity, :url => institutional_activity_path do |f|
  = render :partial => 'form', :locals => { :f => f }
  #submit_buttons
    = f.submit  t(:update)
    = link_to t(:cancel), institutional_activities_path