.span-17.last
  %h3= t('.title')

#submit_buttons
  = link_to t(:new), new_institutional_activity_path

= render :partial => 'search_form'

#collection_header
  .span-1="&nbsp;".html_safe
  .span-11=t('.institutional_activities')
  .action=t(:show)
  .action=t(:edit)
  .span1.last=t(:del)

#collection_records
  = render :partial => 'record', :collection => @institutional_activities

= render :partial => 'collection_footer'

= paginate( @institutional_activities)

#submit_buttons
  = link_to t(:new), new_institutional_activity_path
