%h3= t('.title')
= simple_form_for @institutional_activity, :url => institutional_activities_path do |f|
  = render :partial => 'form', :locals => { :f => f }
  #submit_buttons
    = f.submit  t(:save)
    = link_to t(:cancel), institutional_activities_path