%h3= t('institutional_activities.show.title')
.section-with-border-and-bg
  - show_for  @institutional_activity do |u|
    .row
      .span-9
        = u.attribute :descr, :using => :name
      .span-9.last
        = u.association :institution, :using => :name

    .row
      .span-4
        = u.attribute :startyear, :using => :name
      .span-5
        = u.attribute :startmonth, :using => :name
      .span-4
        = u.attribute :endyear, :using => :name
      .span-5.last
        = u.attribute :endmonth, :using => :name

    .row
      = render :partial => 'shared/record', :object =>  @institutional_activity

#submit_buttons
  = link_to t(:edit), edit_institutional_activity_path(:id =>  @institutional_activity.id)
  = link_to t(:back), institutional_activities_path
