<%= error_messages_for :user %>
<div class="title"> Registro de usuarios nuevos </div>

<% form_for :user, @user, :url => { :controller => 'users', :action => "create" } do |f| %>
  <p>
    <b>Usuario:</b> <%= f.text_field :login, :size => 12 %>
  </p>

  <p>
    <b>Contraseña:</b> <%= f.password_field :passwd, :size => 12%>
  </p>

  <p>
    <b>Confirmación de su contraseña:</b> <%= f.password_field :passwd_confirmation, :size => 12%>
  </p>

  <p>
    <b>Correo electrónico:</b> <%= f.text_field :email, :size => 50 %>
  </p>

  <p>
    <%= f.submit "Registrarse" %> | <%= link_to_remote "Regresar a inicio de sesión", :url => session_url, :method => :get %>
  </p>
<% end %>
