%div{ :class => 'span-24 section_left last' }
  %h2= "Cuenta del usuario"
  - show_for record do |u|
    = u.attribute :login
    = u.attribute :email
    = u.association :userstatus, :using => :name
    = u.association :user_incharge, :using => :fullname_or_email

 