<p style="color: green"><%= flash[:notice] %></p>
<%= error_messages_for :user %>
<div class="title"> Solicitud de cambio de contraseña </div>
Proporcione la dirección de correo electrónico con la cual registró su cuenta en el sistema y presione el botón *Enviar solicitud*.
<br />
Posteriormente recibirá un mensaje con las instrucciones para cambiar su contraseña.

<% form_for :user, :url => { :controller => 'users', :action => "recovery_passwd" } do |f| %>
  <p>
    <b>Correo electrónico:</b> <%= f.text_field :email, :size => 50 %>
  </p>

  <p>
    <%= f.submit "Enviar solicitud" %> | <%= link_to_remote "Regresar a inicio de sesión", :url => session_url, :method => :get %>
  </p>
<% end %>
