.section-with-border-and-bg
  .row
    = render :partial => "/shared/errors", :object => f.object.errors

  .row
    #skilltype.span-8.last{'data-controller-name' => 'skilltypes'}
      = f.label :skilltype, :required => true
      = f.collection_select :skilltype_id, Skilltype.all, :id, :name, {:prompt => true}, :class => 'chosen-select select_and_label'
      = link_to_new_record 'Agregar una skill', '#'

  .row
    .span-8.last=f.input :descr, :as => :text, :input_html => { :size => '60x1' }

  .row
    .span-8.last= f.input :descr_en, :as => :text, :input_html => { :size => '60x1' }