%div{ :class => 'span-24 section_left last' }
  %h3= t('user_skills.show.title')
  - show_for @user_skill do |u|
    = u.association :skilltype, :using => :name, :wrapper_html => {:class => 'span-24 last'}
    = u.attribute :descr, :using => :name, :wrapper_html => {:class => 'span-12'}
    = u.attribute :descr_en, :using => :name, :wrapper_html => {:class => 'span-12 last'}
  = render :partial => 'shared/record', :object => @user_skill

%div{ :class => 'span-14 buttons_left last' }
  = link_as_button t(:edit), edit_user_skill_path(:id => @user_skill.id)
  = link_as_button t(:back), user_skills_path

