%h3= t('user_skills.show.title')
.section-with-border-and-bg
  = show_for @user_skill do |u|
    .row
      = u.association :skilltype, :using => :name
    .row
      = u.attribute :descr, :using => :name
    .row
      = u.attribute :descr_en, :using => :name
    .row
      = render :partial => 'shared/record', :object => @user_skill

#submit_buttons
  = link_to t(:edit), edit_user_skill_path(:id => @user_skill.id)
  = link_to t(:back), user_skills_path

