.section-with-border-and-bg
  .row
    = render :partial => "/shared/errors", :object => f.object.errors

  .row
    %h4=t(:thesis)
    .span-9= f.input :title, :as => :text, :input_html => {:size => '50x1'}
    .span-9.last= f.input :authors, :as => :text, :input_html => {:size => '50x1'}

  .row
    .span-9
      - @thesis_juror = user_role(@thesis_examination, :thesis_jurors, current_user.id, :thesis_id)
      = f.simple_fields_for :thesis_jurors, @thesis_juror do |ut|
        = render :partial => 'thesis_jurors/form', :locals => { :f => ut }
    .span-9.last
      = f.hidden_field :thesisstatus_id, :value  => 3
      = f.input :end_date, :as => :string, :input_html => { :size => '10', :autocomplete => "off", :class => 'date'}, :required => true

  - unless f.object.new_record?
    #thesismodality.row
      .span-12.last
        %label="Modalidad"
        = f.object.thesismodality.name

  - f.object.career = Career.new if f.object.career.nil?
  = f.simple_fields_for :career, f.object.career do |c|
    = render :partial => 'careers/form_universitary', :locals => { :f => c}
