.section-with-border-and-bg
  .row
    = render :partial => "/shared/errors", :object => f.object.errors

  .row
    %h4=t(:thesis)
    .span-9= f.input :title, :as => :text, :input_html => {:size => '50x1'}
    .span-9.last= f.input :authors, :as => :text, :input_html => {:size => '50x1'}

  .row
    .span-9
      = f.association :thesismodality, :as => :radio, :wrapper_class => 'radio-set'
      = f.hidden_field :thesisstatus_id, :value  => 3
    .span-3
      = f.hidden_field :startyear, :value  => Date.today.year
      = f.input :endyear, :as => :string, :input_html => { :size => '4', :autocomplete => "off" }
    .span-6.last
      = f.hidden_field :startmonth, :value  => 1
      = f.label :endmonth, :required => true
      = select_month_for 'endmonth', 'thesis_examination'


  .row
    %h4=t(:roleinjury)
    - @thesis_juror = user_role(@thesis_examination, :thesis_jurors, current_user.id, :thesis_id)
    = f.simple_fields_for :thesis_jurors, @thesis_juror do |ut|
      = render :partial => 'thesis_jurors/form', :locals => { :f => ut }

  - f.object.career = Career.new if f.object.career.nil?
  = f.simple_fields_for :career, f.object.career do |c|
    = render :partial => 'careers/form', :locals => { :f => c}
