.section-with-border-and-bg
  .row
    = render :partial => "/shared/errors", :object => f.object.errors

  .row
    %h4=t(:thesis)
    .span-9= f.input :title, :as => :text, :input_html => {:size => '50x1'}
    .span-9.last= f.input :authors, :as => :text, :input_html => {:size => '50x1'}

  .row
    .span-9
      - @thesis_juror = user_role(@thesis_examination, :thesis_jurors, current_user.id, :thesis_id)
      = f.simple_fields_for :thesis_jurors, @thesis_juror do |ut|
        = render :partial => 'thesis_jurors/form', :locals => { :f => ut }
    .span-9.last
      = f.hidden_field :thesisstatus_id, :value  => 3
      = f.input :end_date, :as => :string, :input_html => { :size => '10', :autocomplete => "off", :class => 'date'}, :required => true

  -# unless f.object.new_record?
    #thesismodality.row
      .span-12.last
        %label="Modalidad"
        = f.object.thesismodality.name

  .row
    %h4='Nombre de carrera y Grado'
  .row
    = f.association :career, :as => :select, :collection => Career.all(:order => 'id ASC'), :label=>'Nombre de la carrera o posgrado', :input_html => {:class => 'chosen-select chzn-container-big' }, :required => true,  :wrapper_html => { :class => 'span-10' }, :selected => f.object.career_id || 26
  .row
    = f.association :degree, :collection => Degree.higher, :as => :radio, :wrapper_class => 'radio-set', :checked => f.object.degree_id || 3
  .row
    = f.association :thesismodality, :as => :select, :collection => Thesismodality.all(:order => 'id ASC'), :label=>'Modalidad', :input_html => {:class => 'chosen-select chzn-container-big' }, :required => true,  :wrapper_html => { :class => 'span-10' }, :selected => f.object.thesismodality_id || 1

  .row
    %h4='Facultad o escuela'
  .span-6
    = f.association :institution, :as => :select, :collection => Institution.for_faculties, :label=>'Facultad, Escuela o Instituto', :input_html => {:class => 'chosen-select chzn-container-big' }, :required => true,  :wrapper_html => { :class => 'span-10' }, :selected => f.object.institution_id || 15
    = f.label :request_institution, :class => 'discrete'
  #institution.span-6.last
    = f.association :university, :as => :select, :collection => Institution.for_universities, :label=>'Institución', :input_html => {:class => 'chosen-select chzn-container-big' }, :required => true,  :wrapper_html => { :class => 'span-10' }, :selected => f.object.university_id || 1
    = f.label :request_institution, :class => 'discrete'
  = f.association :country, :as => :select, :collection => Country.all, :label=>'País', :input_html => {:class => 'chosen-select chzn-container-big' }, :required => true,  :wrapper_html => { :class => 'span-10' }, :selected => f.object.country_id || 484

