.span-18.last
  %h3= t('.title')

#submit_buttons
  = link_to t(:new), new_thesis_examination_path

#nav_links
  = link_to t('.my_thesis_examinations'), thesis_examinations_path
  = link_to t('.not_my_thesis_examinations'), not_my_thesis_examinations_path

= render :partial => 'search_form'

= render :partial => 'collection_header'

#collection_records
  = render :partial => 'record', :collection => @thesis_examinations

= render :partial => 'collection_footer'

= paginate(@thesis_examinations)

#submit_buttons
  = link_to t(:new), new_thesis_examination_path
