%h3= t('.title')
= simple_form_for @thesis_examination, :as => :thesis_examination, :url => thesis_examinations_path do |f|
  = render :partial => 'form', :locals => { :f => f }
  #submit_buttons
    = f.submit  t(:save)
    = link_to t(:cancel), thesis_examinations_path
