%h3= t('thesis_examinations.show.title')
.section-with-border-and-bg
  = show_for @thesis_examination do |u|
    .span-9= u.attribute :title
    .span-9.last= u.attribute :authors

    .span-18.last
      .span-9= u.association :thesismodality, :using => :name
      .span-9.last= u.attribute :end_date

    .span-18.last
      = render :partial => 'careers/show', :locals => { :record => @thesis_examination.career }
    .span-18.last
      %h4=t(:school_or_faculty)
      = render :partial => 'institutions/show', :locals => { :record => @thesis_examination.career.institution }

    .span-18.last
      %h4=t(:thesis_jurors)
      %ul
        - @thesis_examination.thesis_jurors.each do |record|
          %li= record.to_s

  .row
    = render :partial => 'shared/record', :object => @thesis_examination

#submit_buttons
  - unless @thesis_examination.is_verified?
    = link_to t(:edit), edit_thesis_examination_path(:id => @thesis_examination.id)
  = link_to t(:back), thesis_examinations_path
