.row
  .span-14= f.input :name, :as => :text, :input_html => { :size => '100x1', :required => true}

.row
  .span-6= f.association :conferencetype, :collection => Conferencetype.all, :input_html => { :class =>'chosen-select', :required => true}
  .span-8.last= f.association :conferencescope, :collection => Conferencescope.all, :as => :radio, :wrapper_class =>'radio-set'

.row
  .span-6
    = f.association :country, :collection => Country.all, :input_html => { :class =>'chosen-select', :required => true}, :selected => f.object.country_id || 484
  .span-2
    = f.input :year, :as => :string, :input_html => { :size => '4', :autocomplete => "off" }, :required => true
  .span-6.last
    = f.label :month, :required => true
    = f.select :month, localized_month_list, {:prompt => true}, :class => 'chosen-select'
.row
  .span-12.last= f.input :location, :as => :text, :input_html => { :size => '50x1' }

#institution.has-many-associations{'data-remote-resource' => 'institutions', 'data-has-many-association' => 'conference_institutions'}
  %b=t(:organized_by)
  %ul
    - (f.object.institutions + Institution.for_conferences).uniq.each do |institution|
      - @conference_institution = f.object.conference_institutions.where(:institution_id => institution.id).first
      - @conference_institution = f.object.conference_institutions.build if @conference_institution.nil?
      = f.simple_fields_for :conference_institutions, @conference_institution do |fi|
        = render :partial => 'conference_institutions/form', :locals => { :f => fi, :institution => institution }
  = new_child_fields_template(f, :conference_institutions, :partial => 'conference_institutions/form')
  = link_to 'Agregar otra institución', '#', :id => 'new_checkbox'


