.section-with-border-and-bg
  .row
    = render :partial => "/shared/errors", :object => f.object.errors

  .row
    - @prize = f.object.new_record? ? Prize.new : f.object.prize
    = f.simple_fields_for :prize, @prize do |prize_form|
      = render :partial => 'prizes/form', :locals => {:f => prize_form}

    .span-2
      = f.input :year, :as => :string, :input_html => { :size => '4', :autocomplete => "off", :value => Date.today.year }
    .span-6.last
      = f.label :month, :required => true
      = select_month_for 'month', 'user_prize'

