.span-17.last
  %h3= t('.title')

= render :partial => 'search_form'

#collection_header
  .span-1="&nbsp;".html_safe
  .span-11=t('.user_prizes')
  .action=t(:show)
  .action=t(:edit)
  .span1.last=t(:del)

#collection_records
  = render :partial => 'record', :collection => @user_prizes

= render :partial => 'collection_footer'

= will_paginate( @user_prizes)

#submit_buttons
  = link_to t(:new), new_user_prize_path




