%h3= t('user_prizes.show.title')
.section-with-border-and-bg
  = show_for @user_prize do |u|
    .row
      .span-4
        %label= u.label :prizetype
        = @user_prize.prize.prizetype.name
      .span-14.last
        = u.association :prize, :using => :name
    .row
      .span-4
        %label= u.label :country
        = @user_prize.prize.institution.country.name
      .span-14.last
        %label= u.label :institution
        = @user_prize.prize.institution.name
    .row
      .span-4
        = u.attribute :year, :using => :name
      .span-14.last
        = u.attribute :month, :using => :name

    .row
      = render :partial => 'shared/record', :object =>  @user_prize

#submit_buttons
  = link_to t(:edit), edit_user_prize_path(:id =>  @user_prize.id)
  = link_to t(:back), user_prizes_path

