.span-1= checkbox_to_delete(record)
.span-8
  = record.as_text
  = image_tag('associated_record.png', :class => 'associated_record_indicator', :title => t(:associated))
.associated_authors
  .authors_size= record.users.size
  = link_to_user_list user_list_book_chapter_path(:id => record.id, :format => 'js')
.author_action
  = link_to_del_author t(:del_role), del_user_book_chapter_path(:id => record.id, :format => :js)
.action
  = link_to_show book_chapter_path(:id => record.id)
.action
  =link_to_edit edit_book_chapter_path(:id => record.id)
.action
  = link_to_delete record, book_chapter_path(:id => record.id)
