.row
  = render :partial => "/shared/errors", :object => f.object.errors

%h3='Información del capítulo'
.section-with-border-and-bg
  .row
    .span-9= f.input :title, :as => :string, :input_html => {:size => '40'}
    .span-9.last= f.association :bookchaptertype, :as => :radio, :wrapper_class => 'radio-set'

  .row

    .span-9= render :partial => 'book_chapter_collaborators/form', :locals => {:book_chapter => @book_chapter, :f => f}
    .span-9.last= f.input :pages, :as => :string, :input_html => {:size => 25}


%h3='Información del libro'
.section-with-border-and-bg
  - f.object.bookedition = Bookedition.new if f.object.bookedition.nil?
  = f.simple_fields_for :bookedition, f.object.bookedition do |be|
    = render :partial => 'book_editions/form', :locals => { :f => be }

