.span-1= checkbox_to_delete(record)
.span-8
  = record.to_s
  .not_associated{:title => t(:not_associated)}
.associated_authors
  .authors_size= record.users.size
  = link_to_user_list user_list_book_chapter_path(:id => record.id, :format => 'js')
.role_action
  = link_to_add_role t(:add_role), role_list_book_chapter_path(:id => record.id, :format => 'js')
.action
  = link_to_show book_chapter_path(:id => record.id)
.action
  = link_to_edit edit_book_chapter_path(:id => record.id)
.action
  = link_to_delete record, book_chapter_path(:id => record.id)
