%tr{:class => cycle('record-odd', 'record-even'), :id => dom_id(record) }
  %td{:style => 'width: 30px;'}
    = checkbox_to_delete(record)
  %td{:style => 'width: 630px;'}
    = record.as_text
    %div{:class => 'ui-state-highlight ui-corner-all', :id => 'associated_records'}
      %span{:class => 'ui-icon ui-icon-info', :style => 'float: right;', :title => t(:not)}
  %td{:class => 'action'}
    %div{:class => 'ui-widget ui-widget-content ui-corner-all associated_authors', :style => 'width: 32px; height:18px; padding: 2px;', :id => 'associated_authors_' + dom_id(record) }
      %span{:style => 'float: left; text-align: right; color:white; margin-left: 5px;', :id => 'associated_authors_size_'+ dom_id(record) }
        = record.users.size
      %div{:class => "ui-state-default ui-corner-all", :style => 'heigth: 16px;'} 
        = link_to_user_list record, user_list_book_chapter_path(:id => record.id, :format => 'js')
  %td{:class => 'action'}
    %div{:class => 'ui-widget ui-widget-content ui-corner-all associated_authors', :style => 'width: 80px; height:18px; padding: 2px; font-size:10px;', :id => 'associated_users_' + dom_id(record) }
      %span{:style => 'float: left; text-align: right; color:white; margin-left: 5px;', :id => 'associated_users_size_'+ dom_id(record) }
        = t('select')
      %div{:class => "ui-state-default ui-corner-all", :style => 'heigth: 16px;'} 
        = link_to_user_list record, role_list_book_chapter_path(:id => record.id, :format => 'js')
  %td{:style => 'width: 60px; text-align: center;'}
    = link_to_action 'ui-icon-zoomin', t(:show),  book_chapter_path(:id => record.id)
  %td{:style => 'width: 60px; text-align: center;'}
    = link_to_action 'ui-icon-pencil', t(:edit),  edit_book_chapter_path(:id => record.id)
  %td{:style => 'width: 60px; text-align: center;'}
    = link_to_delete record, book_chapter_path(:id => record.id)
