.span-18.last
  %h3= t('.title')

#nav_links
  = link_to t('.my_book_chapters'), book_chapters_path
  = link_to t('.not_my_book_chapters'), not_my_book_chapters_path

= render :partial => 'search_form'

= render :partial => 'collection_header'

#collection_records
  = render :partial => 'record', :collection => @book_chapters

= render :partial => 'collection_footer'

= paginate(@book_chapters)

#submit_buttons
  = link_to t(:new), new_book_chapter_path