%div{:class => 'span-24 last'}
  %div{:class => 'span-10'}
    %h3= t('.title')
  %div{:class=> 'span-14 nav_links last'}
    = link_to t('.my_book_chapters'), book_chapters_path
    = link_to t('.not_my_book_chapters'), not_my_book_chapters_path
%br
%table{:id => 'collection_table', :class => 'ui-widget-header ui-corner-tl ui-corner-tr ui-helper-clearfix'}
  %thead{:id => "filter_header"}
    = render :partial => 'filter_header'
    %tbody{:id =>'collection'}
      = render :partial => 'record', :collection => @book_chapters
      = render :partial => 'collection_footer'
    %tfoot{:id => 'paginator'}
      %tr
        %th
          = will_paginate @book_chapters

%div{ :class => 'span-24 buttons_left last' }
  = link_as_button t(:new), new_book_chapter_path
