%h3= t('.title')
= simple_form_for @video,  :name_key =>:video, :url => videos_path do |f|
  = render :partial => 'form', :locals => { :f => f }
  #submit_buttons
    = f.submit  t(:save)
    = link_to t(:cancel),  videos_path