.span-1= checkbox_to_delete(article)
.span-8
  = article.as_text
  = image_tag('associated_record.png', :class => 'associated_article_indicator', :title => t(:associated)  )
.associated_authors
  .authors_size= article.users.size
  = link_to_user_list user_list_unpublished_article_path(:id => article.id, :format => 'js')
.author_action
  = link_to_del_author t(:del_attendee),   del_user_unpublished_article_path(:id => article.id,:format => :js)
.action
  = link_to_show unpublished_article_path(:id => article.id)
.action
  =link_to_edit edit_unpublished_article_path(:id => article.id)
.action
  = link_to_delete article, unpublished_article_path(:id => article.id)