.span-18.last
  %h3= t('.title')

#nav_links
  = link_to t('.my_articles'), unpublished_articles_path
  = link_to t('.not_my_articles'), not_my_unpublished_articles_path

= render :partial => 'search_form'

= render :partial => 'collection_header'

#collection_records
  = render :partial => @articles

= render :partial => 'collection_footer'

= will_paginate(@articles)

#submit_buttons
  = link_to t(:new),  new_unpublished_article_path