.span-1= checkbox_to_delete(record)
.span-10
  = record.to_s_simple
  = image_tag('associated_record.png', :class => 'associated_record_indicator', :title => t(:instructor))
  .periods
    %b=t(:period_list)
    %ul
      - record.user_regularcourses.where(:user_id => current_user.id).all.each do |user_and_period|
        = render :partial => 'user_regular_courses/record', :object => user_and_period
    = link_to 'Agregar periodo', new_user_regular_course_path(:id => record.id, :format => :js), :class => 'new_period', :remote => true
.action
  = link_to_show regular_course_path(:id => record.id)
.action
  =link_to_edit edit_regular_course_path(:id => record.id)
.action
  = link_to_delete record, regular_course_path(:id => record.id)
