.section-with-border-and-bg
  .row
    = render :partial => "/shared/errors", :object => f.object.errors

  .row
    .span-9= f.input :title, :as => :string, :input_html => {:size => 60}
    .span-9.last= f.association :modality, :as => :radio, :wrapper_class => 'radio-set'

  .row
    %h4=t(:period)
    -  @user_regular_courses = user_role(@regular_course, :user_regularcourses, current_user.id)
    = f.simple_fields_for :user_regularcourses, @user_regular_courses do |uc|
      = render :partial => 'user_regular_courses/form', :locals => { :f => uc }
  .row
    .span-6= f.input :semester, :as => :select, :input_html => {:class => 'chosen-select' },:collection => [0,1,2,3,4,5,6,7,8,9,10], :required => true
    .span-12.last= f.input :credits, :as => :string, :input_html => {:size => 4}

  - f.object.academicprogram = Academicprogram.new if f.object.academicprogram.nil?
  = f.simple_fields_for :academicprogram, f.object.academicprogram do |a_form|
    = render :partial => 'academicprograms/form', :locals => { :f => a_form}



