.span-18.last
  %h3= t('.title')

#submit_buttons
  = link_to t(:new), new_regular_course_path

#nav_links
  = link_to t('.my_regular_courses'), regular_courses_path
  = link_to t('.not_my_regular_courses'), not_my_regular_courses_path

= render :partial => 'search_form'

= render :partial => 'collection_header'

#collection_records
  = render :partial => 'record', :collection => @regular_courses

= render :partial => 'collection_footer'

= paginate(@regular_courses)

#submit_buttons
  = link_to t(:new), new_regular_course_path
