%h3= t('.title')
= simple_form_for @regular_course, :as => :regular_course, :url => regular_courses_path do |f|
  = render :partial => 'form', :locals => { :f => f }
  #submit_buttons
    = f.submit  t(:save)
    = link_to t(:cancel), regular_courses_path
