%h3= t('regular_courses.show.title')

.section-with-border-and-bg
  = show_for @regular_course do |u|
    .span-9= u.attribute :title
    .span-9.last= u.association :modality, :using => :name

    %h4 Carrera
    .span-9
      %label Carrera
      = @regular_course.academicprogram.career.name unless @regular_course.academicprogram.career.nil?
    .span-9.last
      %label Grado
      = @regular_course.academicprogram.degree.name unless @regular_course.academicprogram.degree.nil?


    %h4 Facultad
    .span-9
      %label Facultad o Escuela
      = @regular_course.academicprogram.institution.name unless @regular_course.academicprogram.institution.nil?
    .span-9.last
      %label Institución
      = @regular_course.academicprogram.university.name unless @regular_course.academicprogram.university.nil?


    .span-9
      %label Tipo
      = @regular_course.academicprogram.institution.institutiontitle.name unless @regular_course.academicprogram.institution.nil?
    .span-9.last
      %label Clasificación
      = @regular_course.academicprogram.institution.institutiontype.name unless @regular_course.academicprogram.institution.nil?

    .span-18.last
      %label País
      = @regular_course.academicprogram.country.name unless @regular_course.academicprogram.country.nil?
  .span-18.last
    %h4 Periodos
    %ul
    - @regular_course.user_regularcourses.each do |record|
      %li= record.teacher_with_role
  .row
    = render :partial => 'shared/record', :object => @regular_course

#submit_buttons
  = link_to t(:edit), edit_regular_course_path(:id => @regular_course.id)
  = link_to t(:back), regular_courses_path

