%h3= t('.title')
= simple_form_for @inproceeding, :as => :inproceeding, :url => refereed_inproceeding_path do |f|
  = render :partial => 'form', :locals => { :f => f }
  #submit_buttons
    = f.submit  t(:update)
    = link_to t(:cancel), refereed_inproceedings_path
