%h3= t('.title')
= simple_form_for @genericwork, :as => :genericwork, :url => outreach_work_path do |f|
  = render :partial => 'form', :locals => { :f => f }
  #submit_buttons
    = f.submit  t(:update)
    = link_to t(:cancel), outreach_works_path