%h3= t('.title')
= simple_form_for @genericwork, :url => outreach_works_path do |f|
  = render :partial => 'form', :locals => { :f => f }
  #submit_buttons
    = f.submit  t(:save)
    = link_to t(:cancel), outreach_works_path