%div{ :class => 'span-24 section_left last' }
  %h2 Categoría

  - if !f.object.nil? and !f.object.new_record?
    = f.hidden_field :id
    = f.hidden_field :user_id

  %div{ :class => 'span-24 last' }
    %div{:class=> 'span-6'}
      = f.label :jobpositiontype
    %div{:class=> 'span-6'}
      = f.label :jobpositioncategory
    %div{:class=> 'span-6'}
      = f.label :contracttype
    %div{:class=> 'span-6 last'}
      = f.label :institution
    %div{:class=> 'span-6'}
      = render :partial => 'jobpositiontypes/filter_select'
    %div{:class=> 'span-6', :id => 'jobpositioncategories_select'}
      - if f.object.nil? 
        = render :partial => 'jobpositioncategories/select'
      - else
        = f.object.jobpositioncategory.name
    %div{:class=> 'span-6'}
      = f.collection_select :contracttype_id, Contracttype.all, :id, :name, {:prompt => true}
    %div{:class=> 'span-6 last'}
      = 'Instituto de Física'
      = f.hidden_field :institution_id, :value => 30
  
  = f.simple_fields_for :user_adscription_attributes do |user_adscription_form|
    = render :partial => 'user_adscriptions/mini_form', :locals => { :f => user_adscription_form}

  %div{ :class => 'span-12 last' }
    %div{:class=> 'span-6'}
      = f.label :start_date
    %div{:class=> 'span-6 last'}
      = f.label :end_date
    %div{:class=> 'span-6'}
      = f.text_field :start_date, :size => 10
    %div{:class=> 'span-6 last'}
      = f.text_field :end_date, :size => 10
