.section-with-border-and-bg
  = render :partial => "/shared/errors", :object => f.object.errors

  .row
    .span-5
      - if !f.object.jobpositioncategory.nil? and !f.object.jobpositioncategory.jobpositiontype.nil?
        = render :partial => 'jobpositiontypes/filter_select', :locals => { :selected_id => f.object.jobpositioncategory.jobpositiontype.id }
      - else
        = render :partial => 'jobpositiontypes/filter_select', :locals => { :selected_id => nil }

    .span-5
      = f.label :category
      #jobpositioncategories_select
        - if !f.object.jobpositioncategory.nil? and !f.object.jobpositioncategory.jobpositiontype.nil?
          = f.collection_select :jobpositioncategory_id, Jobpositioncategory.where(jobpositiontype_id: f.object.jobpositioncategory.jobpositiontype.id ), :id, :name, { :prompt => true, :selected => f.object.jobpositioncategory.id}, :class =>'chosen-select'
        - else
          = f.select :jobpositioncategory_id, {}

    .span-8.last
      = f.input :contracttype_id, :as =>:radio, :collection =>Contracttype.all

  .row
    .span-5
      = f.label :institution
      = f.collection_select :institution_id, Institution.for_categories, :id, :name, { :selected => 30 }, :class => 'chosen-select'
    .span-5
      = f.label :start_date
      = f.text_field :start_date, :size => 10, :class => 'date'
    .span-8.last
      = f.label :end_date
      = f.text_field :end_date, :size => 10, :class => 'date'

  .row
    - f.object.build_user_adscription if f.object.user_adscription.nil?
    = f.simple_fields_for :user_adscription do |uaf|
      = render :partial => 'user_adscriptions/mini_form', :locals => { :f => uaf}

