%div{ :class => 'span-8 last' } 
  = render :partial => "/shared/errors", :object => f.object.errors


%div{:class=> 'span-8'}
  = f.label :chapterinbook_id, :required => true 
  = f.collection_select :chapterinbook_id,  Chapterinbook.all, :id, :name, {:prompt => true, :selected => 2, :required => true}


%div{:class=> 'span-8'}
  = f.label :roleinchapter_id, :required => true 
  = f.collection_select :roleinchapter_id,  Roleinchapter.all, :id, :name, {:prompt => true, :selected => 2, :required => true}

