%h3='Información general'
= render :partial => "/shared/errors", :object => f.object.errors

= f.simple_fields_for :person_attributes, @user.person do |person_form|
  = render :partial => 'people/form', :locals => { :f => person_form }

= f.simple_fields_for :professional_address_attributes, @user.professional_address do |address_form|
  = render :partial => 'addresses/academic_form', :locals => { :f => address_form }

= render :partial => 'user_identifications/academic_form', :locals => { :f => f }
