.span-18.last
  %h3 Información General

= render :partial => 'people/record', :object => @user.person unless @user.person.nil?
= render :partial => 'addresses/record', :object => @user.professional_address unless @user.professional_address.nil?
-#RMO = render :partial => 'addresses/record', :object => @user.address unless @user.address.nil?

.section-with-border-and-bg
  %h4= t(".identifications")
  = render :partial => 'user_identifications/record', :collection => @user.user_identifications

#submit_buttons
  = link_to t(:edit), edit_user_profile_path(:id => @user.id), :class => "ui-state-default ui-corner-all button"

