- if !f.object.nil? and !f.object.new_record?
  = f.hidden_field :id
  = f.hidden_field :user_id
%div{ :class => 'span-24 last' }
  %div{:class => 'span-6'}
    = f.label :document_type, :required =>  true
    = f.collection_select :document_type_id, DocumentType.all, :id, :name, {:prompt => true}
  %div{:class => 'span-8'}
    = f.label :file, :required =>  true
    = f.file_field :file, :size => 20
  %div{:class => 'span-4', :style => 'padding-top: 30px;'}
    - if !f.object.nil? and !f.object.new_record?
      = link_to ('Consultar archivo'), f.object.file.url
    - else
      = '*'
  %div{:class => 'span-6 last', :style => 'padding-top: 30px;'}
    - if !defined?(disabled_delete)
      = remove_child_link "remove", f
    - elsif !f.object.nil? and !f.object.new_record?
      = remove_remote_child 'remove_document', f

