.section-with-border-and-bg
  .row= render :partial => "/shared/errors", :object => f.object.errors

  .row
    .span-6= f.input :indivname, :as => :string, :input_html => { :size => '35' }
    .span-9= f.association :indivadvicetarget, :collection => Indivadvicetarget.students, :using =>:name, :as => :radio, :input_html => {:prompt => true}, :wrapper_class => 'radio-set'
    .span-3.last= f.input :hours, :as => :string, :input_html => { :size => '4', :autocomplete => "off", :required => true}

  .row
    .span-3
      = f.input :startyear, :as => :string, :input_html => { :size => '4', :autocomplete => "off" }
    .span-6
      = f.label :startmonth, :required => true
      = select_month_for 'startmonth', 'advice'
    .span-3
      = f.input :endyear, :as => :string, :input_html => { :size => '4', :autocomplete => "off" }
    .span-6.last
      = f.label :endmonth, :required => true
      = select_month_for 'endmonth', 'advice'

  .row
    %h4='Nombre de carrera y Grado'
  .row
    = f.association :career, :as => :select, :collection => Career.all(:order => 'id ASC'), :label=>'Nombre de la carrera o posgrado', :input_html => {:class => 'chosen-select chzn-container-big' }, :required => true,  :wrapper_html => { :class => 'span-10' }, :selected => f.object.career_id || 26
  .row
    = f.association :degree, :collection => Degree.higher, :as => :radio, :wrapper_class => 'radio-set'

  .row
    %h4='Facultad o escuela'
  .span-6
    = f.association :institution, :as => :select, :collection => Institution.for_faculties, :label=>'Facultad, Escuela o Instituto', :input_html => {:class => 'chosen-select chzn-container-big' }, :required => true,  :wrapper_html => { :class => 'span-10' }, :selected => f.object.institution_id || 15
    = f.label :request_institution, :class => 'discrete'
  #institution.span-6.last
    = f.association :university, :as => :select, :collection => Institution.for_universities, :label=>'Institución', :input_html => {:class => 'chosen-select chzn-container-big' }, :required => true,  :wrapper_html => { :class => 'span-10' }, :selected => f.object.university_id || 1
    = f.label :request_institution, :class => 'discrete'
  = f.association :country, :as => :select, :collection => Country.all, :label=>'País', :input_html => {:class => 'chosen-select chzn-container-big' }, :required => true,  :wrapper_html => { :class => 'span-10' }, :selected => f.object.country_id || 484
