.section-with-border-and-bg
  .row= render :partial => "/shared/errors", :object => f.object.errors

  .row
    .span-6= f.input :indivname, :as => :string, :input_html => { :size => '35' }
    .span-9= f.association :indivadvicetarget, :collection => Indivadvicetarget.students, :using =>:name, :as => :radio, :input_html => {:prompt => true}, :wrapper_class => 'radio-set'
    .span-3.last= f.input :hours, :as => :string, :input_html => { :size => '4', :autocomplete => "off", :required => true}

  .row
    .span-3
      = f.input :startyear, :as => :string, :input_html => { :size => '4', :autocomplete => "off", :value => Date.today.year }
    .span-6
      = f.label :startmonth, :required => true
      = select_month_for 'startmonth', 'advice'
    .span-3
      = f.input :endyear, :as => :string, :input_html => { :size => '4', :autocomplete => "off", :value => Date.today.year }
    .span-6.last
      = f.label :endmonth, :required => true
      = select_month_for 'endmonth', 'advice'

  - f.object.career = Career.new if f.object.career.nil?
  = f.simple_fields_for :career, f.object.career do |c|
    = render :partial => 'careers/form', :locals => { :f => c}
