%div{ :class => 'span-24 section_left last' }
  %h3= t('student_advices.show.title')
  = show_for @advice do |u|
    = u.attribute :indivname, :wrapper_html => { :class => 'span-12'}
    = u.association :degree, :using => :name, :wrapper_html => {:class => 'span-6'}
    = u.association :indivadvicetarget, :using => :name, :wrapper_html => {:class => 'span-6 last'}

    = u.association :career, :using => :name, :wrapper_html => {:class => 'span-12'}
    = u.association :institution, :using => :name_and_parent_abbrev, :wrapper_html => {:class => 'span-12 last'}

    = u.attribute :startyear, :wrapper_html => {:class => 'span-6'}
    = u.attribute :startmonth, :wrapper_html => {:class => 'span-6'}
    = u.attribute :endyear, :wrapper_html => {:class => 'span-6'}
    = u.attribute :endmonth, :wrapper_html => {:class => 'span-6 last'}

    = u.attribute :hours, :wrapper_html => {:class => 'span-6'}

  = render :partial => 'shared/record', :object => @advice

%div{ :class => 'span-14 buttons_left last' }
  = link_as_button t(:edit), edit_student_advice_path(:id => @advice.id)
  = link_as_button t(:back), student_advices_path

