%h3= t('student_advices.show.title')
.section-with-border-and-bg
  = show_for @advice do |u|
    .span-6= u.attribute :indivname
    .span-6= u.association :indivadvicetarget, :using => :name
    .span-6.last= u.attribute :hours

    .span-18.last
      .span-4= u.attribute :startyear
      .span-5= u.attribute :startmonth
      .span-4= u.attribute :endyear
      .span-5.last= u.attribute :endmonth

    - unless @advice.career.nil?
      .span-18.last
        = render :partial => 'careers/show', :locals => { :record => @advice.career }

      - unless @advice.career.institution.nil?
        .span-18.last
          %h4=t(:school_or_faculty)
          = render :partial => 'institutions/show', :locals => { :record => @advice.career.institution }

  .row
    = render :partial => 'shared/record', :object => @advice

#submit_buttons
  = link_to t(:edit), edit_student_advice_path(:id => @advice.id)
  = link_to t(:back), student_advices_path

