.span-1= checkbox_to_delete(record)
.span-8
  = record.as_text
  = image_tag('associated_record.png', :class => 'associated_record_indicator', :title => t(:author))
.associated_authors
  .authors_size= record.users.size
  = link_to_user_list user_list_project_path(:id => record.id, :format => 'js')
.author_action
  = link_to_del_author t(:del_role), del_user_project_path(:id => record.id, :format => :js)
.action
  = link_to_show project_path(:id => record.id)
.action
  =link_to_edit edit_project_path(:id => record.id)
.action
  = link_to_delete record, project_path(:id => record.id)