.section-with-border-and-bg
  .row
    = render :partial => "/shared/errors", :object => f.object.errors

  .row
    .span-12= f.input :name, :as => :text, :input_html => { :size => '80x1', :required => true}
    .span-6.last= f.input :abbrev, :as => :string, :input_html => { :size => '30' }

  .row
    .span-9= f.input :responsible, :as => :text, :input_html => { :size => '50x1', :required => true}
    .span-9.last= f.input :descr, :as => :text, :input_html => { :size => '50x1', :required => true}

  .row
    .span-18= f.association :projecttype, :collection => Projecttype.all, :as => :radio, :wrapper_class =>'radio-set'

  .row
    .span-3
      = f.input :startyear, :as => :string, :input_html => { :size => '4', :autocomplete => "off" }
    .span-6
      = f.label :startmonth, :required => true
      = select_month_for 'startmonth', 'project'

    .span-3
      = f.input :endyear, :as => :string, :input_html => { :size => '4', :autocomplete => "off" }
    .span-6.last
      = f.label :endmonth, :required => true
      = select_month_for 'endmonth', 'project'

  #institution.has-many-associations{'data-remote-resource' => 'institutions', 'data-has-many-association' => 'projectfinancingsources'}
    %b=t(:financing_sources)
    %ul
      - (f.object.institutions + Institution.for_conferences).uniq.each do |institution|
        - @projectfinancingsource= f.object.projectfinancingsources.where(:institution_id => institution.id).first
        - @projectfinancingsource = f.object.projectfinancingsources.build if @projectfinancingsource.nil?
        = f.simple_fields_for :projectfinancingsources, @projectfinancingsource do |fi|
          = render :partial => 'projectfinancingsources/form', :locals => { :f => fi, :institution => institution }
    = new_child_fields_template(f, :projectfinancingsources, :partial => 'projectfinancingsources/form')
    = link_to 'Agregar otra fuente de financiamiento', '#', :id => 'new_checkbox'

  .row
    .span-9= f.association :projectstatus, :collection => Projectstatus.all, :as => :radio, :wrapper_class =>'radio-set'
    .span-9.last= render :partial => 'user_projects/form', :locals => {:project => @project, :f => f}
