%h3= t('.title')
= simple_form_for @project, :as => :project, :url => project_path do |f|
  = render :partial => 'form', :locals => { :f => f }
  #submit_buttons
    = f.submit  t(:update)
    = link_to t(:cancel), projects_path
