<div id='changed_password_msg'>
<div id="myerror_messages"></div>
<% remote_form_for @record, :url => { :action => "update" }, :builder =>  LabelFormBuilder, :method => :put do |f| %>
  <%= f.password_field :current_passwd, :size => 12, :required => true %>
  <%= f.password_field :passwd, :size => 12, :required => true %>
  <%= f.password_field :passwd_confirmation, :size => 12, :required => true%>
  <%= hidden_field :remote_msg, :name, :value => 'changed_password_msg' %>
  <p>
    <%= f.submit "Cambiar contraseña" %> 
  </p>
<% end %>
</div>