.row
  = render :partial => "/shared/errors", :object => f.object.errors
.row
  .span-18.last= f.input :homepage, :as => :string, :input_html => { :size => '40' }
.row
  .span-8= f.input :blog, :as => :string, :input_html => { :size => '40' }
  .span-10.last= f.input :calendar, :as => :string, :input_html => { :size => '40' }
.row
  .span-8= f.input :homepage_resume, :as => :text, :input_html => { :size => '40x4' }
  .span-10.last= f.input :homepage_resume_en, :as => :text, :input_html => { :size => '40x4' }
