<div id='updated_info_msg'>
<div id ="myerror_messages"></div>
<% remote_form_for @record, :url => { :action => "update" }, :builder =>  LabelFormBuilder, :method => :put  do |f| %>
  <%= f.text_field :email %>
  <%= f.text_field :homepage %>
  <%= f.text_field :blog %>
  <%= f.text_field :calendar %>
  <%= hidden_field :remote_msg, :name, :value => 'updated_info_msg' %>
  <p>
    <%= f.submit "Actualizar información" %> 
  </p>
<% end %>
</div>