%h3= t('user_settings.show.title')

.section-with-border-and-bg

  = show_for @user do |u|
    .row
      .span-18.last
        - unless @user.homepage.nil?
          %label= t(:homepage)
          = link_to t(:show_page), @user.homepage, :target => '_blank'

    .row
      .span-8
        - unless @user.blog.nil?
          %label=t(:blog)
          = link_to t(:show_page), @user.blog, :target => '_blank'
      .span-10.last
        - unless @user.calendar.nil?
          %label=t(:calendar)
          = link_to t(:show_page), @user.calendar, :target => '_blank'
    .row
      .span-8
        - unless @user.homepage_resume.nil?
          %label=t(:homepage_resume)
          = @user.homepage_resume
      .span-10.last
        - unless @user.homepage_resume_en.nil?
          %label=t(:homepage_resume_en)
          = @user.homepage_resume_en

    .row
      = render :partial => 'shared/record', :object => @user

#submit_buttons
  = link_to t(:edit), edit_user_settings_path(:id => @user.id)


