%tr{:class => cycle('record-odd', 'record-even') }
  %td= user.login
  %td{:id=>'person_photo'}
    %div{:id => 'person_' + dom_id(user.person)}
      = user.fullname_or_login
      = link_to content_tag(:span, '', :class => 'ui-button-icon-primary ui-icon ui-icon-circle-arrow-n') , '#', :title => 'Guardar o actualizar fotografía', :class => "ui-button ui-button-icon ui-widget ui-state-default ui-corner-all", :id => user.person.id, :style => 'border: 0; float: right;'

  %td= user.user_adscription_as_postdoctoral.adscription.name
  %td= user.jobposition_as_postdoctoral.start_date
  %td= user.jobposition_as_postdoctoral.end_date 
  %td= link_to content_tag(:span, '', :class => 'ui-button-icon-primary ui-icon ui-icon-person') , front_academic_secretary_identification_card_path(:id => user.id, :format => :jpg), :title => 'Frente de credencial', :class => "ui-button ui-button-icon ui-widget ui-state-default ui-corner-all"
  %td= link_to content_tag(:span, '', :class => 'ui-button-icon-primary ui-icon ui-icon-contact') , back_academic_secretary_identification_card_path(:id => user.id, :format => :jpg), :title => 'Código de barras de credencial', :class => "ui-button ui-button-icon ui-widget ui-state-default ui-corner-all"
