.row
  %h4 Información del programa académico
  .span-6= f.association :academicprogramtype, :as => :radio, :collection => Academicprogramtype.all, :wrapper_class => 'radio-set', :label_html => {:class => 'span-6' }
  .span-12.last= f.input :year, :as => :string, :input_html => { :size => 4}

.row
  %h4='Nombre de carrera y Grado'
.row
  = f.association :career, :as => :select, :collection => Career.all(:order => 'id ASC'), :label=>'Nombre de la carrera o posgrado', :input_html => {:class => 'chosen-select chzn-container-big' }, :required => true,  :wrapper_html => { :class => 'span-10' }, :selected => f.object.career_id || 26
.row
  = f.association :degree, :collection => Degree.higher, :as => :radio, :wrapper_class => 'radio-set', :checked => f.object.degree_id || 3

.row
  %h4='Facultad o escuela'
.span-6
  = f.association :institution, :as => :select, :collection => Institution.for_faculties, :label=>'Facultad, Escuela o Instituto', :input_html => {:class => 'chosen-select chzn-container-big' }, :required => true,  :wrapper_html => { :class => 'span-10' }, :selected => f.object.institution_id || 15
  = f.label :request_institution, :class => 'discrete'
#institution.span-6.last
  = f.association :university, :as => :select, :collection => Institution.for_universities, :label=>'Institución', :input_html => {:class => 'chosen-select chzn-container-big' }, :required => true,  :wrapper_html => { :class => 'span-10' }, :selected => f.object.university_id || 1
  = f.label :request_institution, :class => 'discrete'
= f.association :country, :as => :select, :collection => Country.all, :label=>'País', :input_html => {:class => 'chosen-select chzn-container-big' }, :required => true,  :wrapper_html => { :class => 'span-10' }, :selected => f.object.country_id || 484

