%h3= 'Catálogo de ' + t('conferencetypes.index.title')
= link_as_button t(:new), new_admin_conferencetype_path
= link_as_button t('admin.catalogs'), admin_catalogs_path

%div{ :class => 'span-24 buttons_left last' }
- 3.times do
  %br
%table{:id => 'collection_table', :class => 'ui-widget-header ui-corner-tl ui-corner-tr ui-helper-clearfix'}
  %thead{:id => "filter_header"}
    = render :partial => 'filter_header'
    %tbody{:id =>'collection'}
      = render :partial => @conferencetypes
      = render :partial => 'collection_footer'
    %tfoot{:id => 'paginator'}
      %tr
        %th
          = will_paginate @conferencetypes

%div{ :class => 'span-24 buttons_left last' }
  = link_as_button t(:new), new_admin_conferencetype_path
  = link_as_button t('admin.catalogs'), admin_catalogs_path
