%div{ :class => 'span-24 buttons_left last' }
  = link_to t(:new), new_admin_city_path, :class => "ui-state-default ui-corner-all button"
%br
%br
%br
%table{:id => 'collection_table', :class => 'ui-widget-header ui-corner-tl ui-corner-tr ui-helper-clearfix'}
  %thead{:id => "filter_header"}
    = render :partial => 'filter_header'
  = form_for :destroy_all, :url => destroy_all_admin_cities_path, :html => {:id => "destroy_all"} do |f|
    %tbody{:id =>'collection'}
      = render :partial => @cities
    %tfoot{:id => 'paginator'}
      %tr
        %th
          = submit_tag t(:delete_all_selected), :confirm => t(:delete_all_confirm_question), :class => "ui-state-default ui-corner-all button"
        %th
          = link_to t(:destroy_all_empty_associations), destroy_all_empty_associations_admin_cities_path, :confirm => t(:delete_all_confirm_question), :class => "ui-state-default ui-corner-all button"
        %th
          = will_paginate @cities

%div{ :class => 'span-24 buttons_left last' }
  = link_to t(:new), new_admin_city_path, :class => "ui-state-default ui-corner-all button"