.span-1= checkbox_to_delete(record)
.span-8
  = record.as_text
  = image_tag('associated_record.png', :class => 'associated_record_indicator', :title => t(:instructor) )
.associated_authors
  .authors_size= record.users.size
  = link_to_user_list user_list_course_instructor_path(:id => record.id, :format => 'js')
.author_action
  = link_to_del_author t(:del_instructor), del_user_course_instructor_path(:id => record.id, :format => :js)
.action
  = link_to_show course_instructor_path(:id => record.id)
.action
  =link_to_edit edit_course_instructor_path(:id => record.id)
.action
  = link_to_delete record, course_instructor_path(:id => record.id)
