%tr{:class => "filter_header", :id => "filter_header"}
  = form_for :search, :remote => true, :html => {:id => "filter_form"} do |f|
    %th{:class => 'ui-state-default', :style => 'width: 5%;'}
      =t(:id)
    %th{:class => 'ui-state-default', :style => 'width: 55%;'}
      %div{:class => 'span-2'}=t(:name)
      %div{:class => 'span-3'}=t(:courseduration)
      %div{:class => 'span-4'}=t(:modality)
      %div{:class => 'span-2'}=t(:startyear)
      %div{:class => 'span-2 last'}=t(:endyear)

      %div{:class => 'span-2'}= f.text_field :name_like_ignore_case, :size => 7
      %div{:class => 'span-3'}= f.collection_select :courseduration_id_eq, Courseduration.all, :id, :name, :prompt => true
      %div{:class => 'span-4'}= f.collection_select :modality_id_eq, Modality.all, :id, :name, :prompt => true
      %div{:class => 'span-2'}= f.text_field :startyear_eq, :size => 4
      %div{:class => 'span-2 last'}= f.text_field :endyear_eq, :size => 4
    %th{:class => 'ui-state-default', :style => 'width: 10%;'}
      ='Académicos del instituto asociados al curso'
    %th{:class => 'ui-state-default', :style => 'width: 90px;'}
      ='Quitar asociación al curso'
    %th{:class => 'ui-state-default', :style => 'width: 60px;'}
      =t(:show)
    %th{:class => 'ui-state-default', :style => 'width: 60px;'}
      =t(:edit)
    %th{:class => 'ui-state-default', :style => 'width: 60px;'}
      =t(:del)
