%h3= t('course_instructors.show.title')
.section-with-border-and-bg

  = render :partial => 'courses/show', :locals => { :course => @course}
  = render :partial => 'shared/record', :object => @course

#submit_buttons
  = link_to t(:edit), edit_course_instructor_path(:id => @course.id)
  = link_to t(:back), course_instructors_path
