%div{ :class => 'span-14 section_left last' }
  %h3= t('activitytypes.show.title')
  - show_for @activitytype do |u|

    = u.attribute :name, :wrapper_html => {:class => 'span-14 last'}


    = u.association :activitygroup, :using => :name, :wrapper_html => {:class => 'span-14 last'}


%div{ :class => 'span-14 buttons_left last' }
  = link_as_button t(:edit), edit_admin_activitytype_path(:id => @activitytype.id)
  = link_as_button t(:back), admin_activitytypes_path
