.section-with-border-and-bg
  = render :partial => "/shared/errors", :object => f.object.errors
  .row
    #institution.span-5{'data-controller-name' => 'institutions'}
      = f.association :institution, :using => :name, :input_html  => {:class => 'chosen-select', :prompt => true, :required => true}
      = f.label :request_institution, :class => 'discrete'
    .span-12.last= f.input :descr, :as => :text, :input_html => { :size => '50x1' }
  .row
    .span-5
      = f.label :start_date
      = f.text_field :start_date, :size => 10, :class => 'date'
    .span-13.last
      = f.label :end_date
      = f.text_field :end_date, :size => 10, :class => 'date'

