%h3= t('.title')
= simple_form_for @jobposition, :url => external_jobposition_path(@jobposition) do |f|
  = render :partial => 'form', :locals => { :f => f }
  #submit_buttons
    = f.submit  t(:edit)
    = link_to t(:cancel), external_jobpositions_path