%h3= t('jobpositions.show.title')
.section-with-border-and-bg
  = show_for @jobposition do |u|
    .row
      .span-10
        %label= u.label :category
        = @jobposition.category_name
      = u.association :contracttype, :using => :name, :wrapper_html => {:class => 'span-8 last'}
    .row
      = u.association :institution, :using => :name
      = u.attribute :start_date
      = u.attribute :end_date
    .row
      .span-5
        %label= u.label :adscription
        = @jobposition.user_adscription.adscription.name
      .span-13.last
        %label=u.label :descr
        = @jobposition.user_adscription.descr

    .row
      = render :partial => 'shared/record', :object => @jobposition

#submit_buttons
  = link_to t(:edit), edit_external_jobposition_path(:id => @jobposition.id)
  = link_to t(:back), external_jobpositions_path

