#login_view
  #login_form
    %h3 Inicio de sesión
    = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      = f.label :login
      = f.text_field :login, :size => 16, :maxlength => 16
      = f.label :password
      = f.password_field :password, :size => 16, :maxlength => 16
      #submit_buttons
        = f.submit "Entrar"
  #login_info
    %p= 'Para entrar al sistema debes usar el usuario y contraseña del correo electrónico del Instituto de Física.'
    %p= 'Por ejemplo, si tu cuenta de correo es <em>sandovalv@fisica.unam.mx</em> los datos para entrar al sistema son:'.html_safe
    #login_example
      %b='Usuario: '
      = 'sandovalv'
      %br
      %b='Contraseña: '
      = '*'*8
= render :partial =>'supported_browser_links'
