%div{ :class => 'span-14 section_left last' }
  %h3= t('roles.show.title')
  - show_for @role do |u|

    = u.attribute :name, :wrapper_html => {:class => 'span-14 last'}


    = u.attribute :has_group_right, :wrapper_html => {:class => 'span-14 last'}


%div{ :class => 'span-14 buttons_left last' }
  = link_as_button t(:edit), edit_admin_role_path(:id => @role.id)
  = link_as_button t(:back), admin_roles_path
