%tr{:class => cycle('record-odd', 'record-even'), :id => dom_id(career) }
  - if career.has_associated_records?
    %td{:style => 'width: 30px;'}
      = check_box_tag 'record_id', career.id, false, 'data-parent-id' => dom_id(career), :disabled => true
    %td{:style => 'width: 630px;'}
      %b= career.name
      %br
      = droppable_associations(career)
    %td{:style => 'width: 90px; text-align: center;'}
      = link_to_draggable_action 'ui-icon-arrow-4', t(:move_all), career
    %td{:style => 'width: 90px; text-align: center;'}
      = link_to_action 'ui-icon-pencil', t(:edit),  edit_admin_career_path(:id => career.id)
    %td{:style => 'width: 90px; text-align: center;'}
  - else
    %td{:style => 'width: 30px;'}
      = check_box_tag 'record_id', career.id, false, 'data-parent-id' => dom_id(career)
    %td{:style => 'width: 630px;'}
      %b= career.name
      %br
      =  droppable_associations(career)
      %div{:class => 'ui-state-highlight ui-corner-all', :id => 'zero_associated_records'}
        %span{:class => 'ui-icon ui-icon-info', :style => 'float: right;', :title => '0 registros asociados'}
    %td{:style => 'width: 90px; text-align: center;'}
      = link_to_draggable_action 'ui-icon-arrow-4', t(:move_all), career 
    %td{:style => 'width: 90px; text-align: center;'}
      = link_to_action 'ui-icon-pencil', t(:edit),  edit_admin_career_path(:id => career.id)
    %td{:style => 'width: 90px; text-align: center;'}
      = link_to_action 'ui-icon-trash', t(:del), admin_career_path(:id => career.id), :method => :delete, :confirm => t(:delete_confirm_question), :remote => true, 'data-parent-id' => dom_id(career)