%div{ :class => 'span-24 section_left last' }
  %h3= t('.identification')
  - if !f.object.nil? and !f.object.new_record?
    = f.hidden_field :id
    = f.hidden_field :user_id
  %div{ :class => 'span-24 last' }
    %div{:class=> 'span-6 last'}
      = f.input :descr, :as => :string, :input_html => { :size => 14, :autocomplete => "off" }
      = f.hidden_field :identification_id, :value => 2
