.section-with-border-and-bg

  %h3= t('.title')

  - if !f.object.nil? and !f.object.new_record?
    = f.hidden_field :id
  .row
    .span-5
      = f.label :addresstype_id
      = 'Domicilio Profesional'
      = f.hidden_field :addresstype_id, :value => 1
    .span-8
      - location =  'Edificio Principal, Cubículo o laboratorio: 132'
      = f.input :location, :as => :text, :input_html =>{ :size => '50x3', :value => f.object.location || location}
    .span-4.last
      = f.input :pobox, :as => :string, :input_html =>{ :size => 10 }
      -#= 'P.O. Box 20-364'
      -#= f.hidden_field :pobox, :size => 20, :value => 'P.O. Box 20-364'
  .row
    .span-5
      = f.label :country_id, :required => true
      - selected_country_id = f.object.country_id || 484
      = f.collection_select :country_id, Country.all, :id, :name, {:prompt => true, :selected => selected_country_id, :required => true}, :class => "chosen-select country-select"
    #state_set.span-5
      = f.label :state_id
      - if f.object.country_id == 484 or f.object.country_id == 840
        - selected_stated_id = f.object.state_id || 9
        = f.collection_select :state_id, State.where(:country_id => selected_country_id ).all, :id, :name, {:prompt => true, :selected => selected_stated_id}, :class => "chosen-select"
    #city_set.span-8.last
      = f.label :city_id, :required => true
      - if f.object.state_id.to_i >= 1 && f.object.state_id.to_i <= 83
        = f.collection_select :city_id, City.where(:state_id => f.object.state_id).all, :id, :name, {:prompt => true, :selected => f.object.city_id, :required => true}, :class => "chosen-select"
      - else
        = f.collection_select :city_id, City.all, :id, :name, {:prompt => true, :selected => f.object.city_id, :required => true}, :id => 'city_list', :class => "chosen-select"

      = link_to content_tag(:span, '', :class => 'ui-button-icon-primary ui-icon ui-icon-plus') , '#', :title => 'Agregar nueva ciudad', :class => "ui-button ui-button-icon ui-widget ui-state-default ui-corner-all", :id => 'city_new'
      #city_text_field1

  .row
    = f.input :phone, :as => :string, :input_html =>{ :size => 20 }
    = f.input :phone_extension, :as => :string, :input_html =>{ :size => 20 }
    = f.input :fax, :as => :string, :input_html =>{ :size => 20 }
    = f.hidden_field :is_postaddress, :value => true
