.section-with-border-and-bg

  %h3= t('.title')

  - if !f.object.nil? and !f.object.new_record?
    = f.hidden_field :id
  .row
    .span-5
      = f.label :addresstype_id
      = 'Domicilio Profesional'
      = f.hidden_field :addresstype_id, :value => 1
    .span-6
      - building =  'Edificio :'
      = f.association :building, :using => :name, :input_html  => {:class => 'chosen-select', :prompt => true, :required => true, :width=>'60'}
    .span-6.last
      - location =  'Cubículo o laboratorio:'
      = f.input :location, :as => :string, :input_html =>{ :size => 35 }
      = f.hidden_field :pobox, :size => 20, :value => 'P.O. Box 20-364'
  .row
    .span-5
      = f.label :country_id
      = 'México'
      = f.hidden_field :country_id, :value => 484
    .span-5
      = f.label :state_id
      = 'Ciudad de México'
      = f.hidden_field :state_id, :value => 9
    .span-5
      = f.label :city_id
      = 'Ciudad de México'
      = f.hidden_field :city_id, :value => 64
    .span-2.last
      = f.label :zipcode
      = '04510'
      = f.hidden_field :zipcode, :value => '04510'

  .row
    = f.input :phone, :as => :string, :input_html =>{ :size => 20 }
    = f.input :phone_extension, :as => :string, :input_html =>{ :size => 20 }
    = f.input :fax, :as => :string, :input_html =>{ :size => 20 }
    = f.hidden_field :is_postaddress, :value => true
