%div{ :class => 'span-24 section_left last' }
  %h2 Domicilio

  - if !f.object.nil? and !f.object.new_record?
    = f.hidden_field :id
    = f.hidden_field :user_id

  %div{ :class => 'span-18 last' }
    %div{:class=> 'span-6'}
      = f.label :addresstype_id
    %div{:class=> 'span-6'}
      = f.label :location
    %div{:class=> 'span-6 last'}
      = f.label :pobox
    %div{:class=> 'span-6'}
      = f.collection_select :addresstype_id, Addresstype.all, :id, :name, {:prompt => true}
    %div{:class=> 'span-6'}
      = f.text_area :location, :size => '30x4'
    %div{:class=> 'span-6 last'}
      = f.text_field :pobox

  %div{ :class => 'span-24 last' }
    %div{:class=> 'span-6'}
      = f.label :country_id
    %div{:class=> 'span-6'}
      = f.label :state_id
    %div{:class=> 'span-6'}
      = f.label :city_id
    %div{:class=> 'span-6 last'}
      = f.label :zipcode
    %div{:class=> 'span-6'}
      = f.collection_select :country_id, Country.all, :id, :name, {:prompt => true}
    %div{:class=> 'span-6'}
      = f.collection_select :state_id, State  .all, :id, :name, {:prompt => true}
    %div{:class=> 'span-6'}
      = f.collection_select :city_id, City.all, :id, :name, {:prompt => true}
    %div{:class=> 'span-6 last'}
      = f.text_field :zipcode, :size => 5

  %div{ :class => 'span-24 last' }
    %div{:class=> 'span-6'}
      = f.label :phone
    %div{:class=> 'span-6'}
      = f.label :fax
    %div{:class=> 'span-6'}
      = f.label :movil
    %div{:class=> 'span-6 last'}
      = f.label :is_postaddress
    %div{:class=> 'span-6'}
      = f.text_field :phone
    %div{:class=> 'span-6'}
      = f.text_field :fax
    %div{:class=> 'span-6'}
      = f.text_field :movil
    %div{:class=> 'span-6 last'}
      = f.radio_button :is_postaddress, true
      Sí
      \#{f.radio_button :is_postaddress, false} No
  

  
