.section-with-border-and-bg
  %h4 Domicilio profesional
  = show_for record do |a|
    .row
      = a.association :addresstype, :using => :name
      = a.attribute :location, :wrapper_html => {:class => 'span-8'}
      = a.attribute :pobox, :wrapper_html => {:class => 'span-5'}
    .row
      = a.association :country, :using => :name
      = a.association :state, :using => :name
      = a.association :city, :using => :name
    .row
      = a.attribute :zipcode
      = a.attribute :phone
      = a.attribute :fax