%div{ :class => 'span-24 section_left last' }
  %h2 Domicilio profesional
  - show_for record do |a|
    %div{:class => 'row'}
      = a.association :addresstype, :using => :name, :wrapper_html => {:class => 'span-6'}
      = a.attribute :location, :wrapper_html => {:class => 'span-12'}
      = a.attribute :pobox, :wrapper_html => {:class => 'span-6 last'}
    %div{:class => 'row'}
      = a.association :country, :using => :name, :wrapper_html => {:class => 'span-6'}
      = a.association :state, :using => :name, :wrapper_html => {:class => 'span-6 '}
      = a.association :city, :using => :name, :wrapper_html => {:class => 'span-6'}
      = a.attribute :zipcode, :wrapper_html => {:class => 'span-6 last'}
    %div{:class => 'row'}
      = a.attribute :phone, :wrapper_html => {:class => 'span-24 last'}