-if I18n.locale == :en
  = link_to "Versión en español", :locale => 'es'
-else
  = link_to "English version", :locale => 'en'

.span-5.last{:style => "margin-bottom: 200px;"}
  &nbsp
.span-5.last
  = check_box_tag "user_resume", "user_resume", true
  =t('web_site.home_pages.review')
  %br/
  = check_box_tag "skills-reseachlines", "skills-reseachlines", true
  =t('web_site.home_pages.researchlines')
  %br
  = check_box_tag "recent_published_articles", "recent_published_articles", true
  =t('web_site.home_pages.recent_published_articles')
  %br
  = check_box_tag "recent_advised_theses", "recent_advised_theses", true
  =t('web_site.home_pages.recent_advised_theses')
  %br
  = check_box_tag "recent_published_books", "recent_published_books", true
  =t('web_site.home_pages.recent_published_books')
  %br
  = check_box_tag "recent_book_chapters", "recent_book_chapters", true
  =t('web_site.home_pages.recent_book_chapters')