/ <font class=name><haml:loud> user.cite.author_name unless user.cite.nil?  </haml:loud></font>
%font.name= user.title_and_fullname
%br/
= user.jobposition_for_researching.category_name
%br
%b= user.email || ''
%br/
%br/
- unless user.professional_address.nil?
  %font.address
    = user.professional_address.to_s
    %br
    - unless user.professional_address.phone.to_s.strip.empty?
      %br
      %b tel&eacute;fono(s):
      =  user.professional_address.phone.to_s
      - unless user.professional_address.phone_extension.to_s.strip.empty?
        %b &nbsp; extensi&oacute;n:
        = user.professional_address.phone_extension
    - unless user.professional_address.fax.to_s.strip.empty?
      %br
      %b fax:
      = '+52 (55) ' + user.professional_address.fax.to_s

%br/
%br/
= links_for_personal_sites(@record)

