/ <font class=name><haml:loud> user.cite.author_name unless user.cite.nil?  </haml:loud></font>
%font.name= user.author_name
%br/
= translate_category(user.most_recent_jobposition.category_name)
%br/
= mail_to user.email, user.email, :encode => "javascript"
%br/
- unless user.professional_address.nil?
  %font.address
    %b Address:
    = user.professional_address.to_text
    %b Postal Address:
    = user.professional_address.postal_address_to_text
    - unless user.professional_address.phone.to_s.strip.empty?
      %b Tel&eacute;fono:
      = '+52 (55) ' + user.professional_address.phone.to_s
    - unless user.professional_address.fax.to_s.strip.empty?
      %b Fax:
      = '+52 (55) ' + user.professional_address.fax.to_s
