.resume
  %table
    %tr
      %td
        %img{:src => url_for(:action => :show_photo, :id => @record.id)}/
      %td.resume
        %br/
        = render :partial => 'profile', :locals => {:user => @record}
        %br/
        = links_for_personal_sites(@record)
  %br/
  = render :partial => 'user_resume', :locals => { :user => @record }

  - if translate_category(@record.jobposition_for_researching.category_name) == 'Technician'
    = render :partial => 'user_skills', :locals => {:user => @record}
  - else
    = render :partial => 'researchlines', :locals => {:user => @record}
  %br/
  = render :partial => 'recent_published_articles', :locals => {:user => @record}
  %br/
  = render :partial => 'students', :locals => { :user => @record }
  %br/
