%div{ :class => 'span-8 last' } 
  = render :partial => "/shared/errors", :object => f.object.errors

= f.input :name, :as => :text, :input_html => { :size => '30x2' }, :wrapper_class => 'span-8 last' 

= f.input :abbrev, :as => :string, :input_html => { :size => '20' }, :wrapper_class => 'span-8 last' 

%div{:class=> 'span-8'}
  = f.label :institution_id, :required => true 
  = f.collection_select :institution_id,  Institution.all, :id, :name, {:prompt => true, :selected => 2, :required => true}

= f.input :is_enabled, :wrapper_class => 'span-8 last' 

