= form_for :search, :remote => true, :html => {:id => "filter_form"} do |f|
  .span-2=t(:fullname)
  .span-6= f.text_field :fullname_like, :size => 30
  .span-2=t(:adscription)
  .span-6= f.collection_select :adscription_id_eq, Adscription.all, :id, :name, {:prompt => true}, :class => 'chosen-select'
  .span-2=t(:documentype)
  .span-6.last= f.collection_select :documenttype_id_eq, Documenttype.annual_plans.all, :id, :year, {:prompt => true}, :class => 'chosen-select'

  .span-5.prepend-19.last
    .search_button= link_to t(:search), "#", :id => "search_button"
    .reset_search_button.last= link_to "Listar todos", "#" , :id => 'reset_search_button'