.row
  = f.input :name, :as => :text, :input_html => { :size => '100x1', :required => true}
.row
  .span-6= f.association :courseduration, :collection => Courseduration.all, :input_html => {:class => 'chosen-select', :required => true}
  .span-6= f.association :modality, :collection => Modality.all, :input_html => {:class => 'chosen-select', :required => true}
  .span-3= f.input :hoursxweek, :as => :string, :input_html => { :size => '3', :autocomplete => "off", :required => true }
  .span-3.last= f.input :totalhours, :as => :string, :input_html => { :size => '3', :autocomplete => "off", :required => true }

.row

  .span-3= f.input :startyear, :as => :string, :input_html => { :size => '4', :autocomplete => "off" }
  .span-6
    = f.label :startmonth, :required => true
    = select_month_for 'startmonth', 'course'

  .span-3= f.input :endyear, :as => :string, :input_html => { :size => '4', :autocomplete => "off" }
  .span-6.last
    = f.label :endmonth, :required => true
    = select_month_for 'endmonth', 'course'

.row
  .span-6= f.association :country, :collection => Country.all, :input_html => {:class => 'chosen-select', :required => true}
  .span-12.last= f.input :location, :as => :text, :input_html => { :size => '50x1' }
