= show_for course do |u|
  .span-18.last= u.attribute :name


  .span-6= u.association :courseduration, :using => :name
  .span-6= u.association :modality, :using => :name
  .span-3= u.attribute :hoursxweek
  .span-3.last= u.attribute :totalhours

  .span-3= u.attribute :startyear
  .span-3= u.attribute :startmonth
  .span-3= u.attribute :endyear
  .span-9.last= u.attribute :endmonth

  .span-18.last
    = u.association :country, :using => :name
    = u.attribute :location

  .span-18.last
    = u.association :user_courses, :collection_tag => :ol do |record|
      %li= record.author_with_role


