%h3= t('.title')
= simple_form_for @book_collaboration, :as => :book_collaboration, :url => book_collaboration_path, :html => { :multipart => true, :id => 'record'} do |f|
  = render :partial => 'form', :locals => { :f => f }
  #submit_buttons
    = f.submit  t(:update)
    = link_to t(:cancel), book_collaboration_path
