%h3= t('book_collaborations.show.title')
.section-with-border-and-bg

  = render :partial => 'book_editions/show', :object => @book_collaboration

  .span-18.last
    %b= t(:associated_academics)
    - @book_collaboration.collaborators.each do |a|
      %li= a.to_s

  .row
    = render :partial => 'shared/record', :object => @book_collaboration

#submit_buttons
  = link_to t(:edit), edit_book_collaboration_path(:id => @book_collaboration.id)
  = link_to t(:back), book_collaborations_path
