.section-with-border-and-bg
  .row= render :partial => "/shared/errors", :object => f.object.errors
  .row
    = f.input :studentname, :as => :string, :input_html => {:size => 80}

  .row
    .span-9.last= f.input :descr, :as => :text, :input_html => {:size => '78x1'}

  .row
    .span-2.last= f.input :year, :as => :string, :input_html => { :size => '4', :autocomplete => "off" }, :required => true

  - f.object.career = Career.new if f.object.career.nil?
  = f.simple_fields_for :career, f.object.career do |c|
    = render :partial => 'careers/form', :locals => { :f => c}
