= render :partial => 'shared/search_options'
= form_for :search, :remote => true, :html => {:id => "filter_form", :style => search_form_display_enabled} do |f|
  .span-4=t(:studentname)
  .span-3=t(:year)
  .span-12.last

  .span-4= f.text_field :studentname_like_ignore_case, :size => 20
  .span-9= f.text_field :year_eq, :size => 4
  .search_button= link_to t(:search), "#", :id => "search_button"
  .reset_search_button.last= link_to "Listar todos", "#" , :id => 'reset_search_button'
