%h3= t('.title')
= simple_form_for @tutorial_committee, :as => :tutorial_committee do |f|
  = render :partial => 'form', :locals => { :f => f }
  #submit_buttons
    = f.submit  t(:update)
    = link_to t(:cancel), tutorial_committees_path
