%h3= t('tutorial_committees.show.title')
.section-with-border-and-bg
  = show_for @tutorial_committee do |u|
    .span-18.last
      = u.attribute :studentname

    .span-18.last
      = u.attribute :descr

    .span-18.last
      = u.attribute :year

    .span-18.last
      = render :partial => 'careers/show', :locals => { :record => @tutorial_committee.career }

    .span-18.last
      %h4=t(:school_or_faculty)
      = render :partial => 'institutions/show', :locals => { :record => @tutorial_committee.career.institution }
  .row
    = render :partial => 'shared/record', :object => @tutorial_committee

#submit_buttons
  = link_to t(:edit), edit_tutorial_committee_path(:id => @tutorial_committee.id)
  = link_to t(:back), tutorial_committees_path

