%div{ :class => 'span-14 section_left last' }
  %h3= t('documenttypes.show.title')
  - show_for @documenttype do |u|

    = u.attribute :name, :wrapper_html => {:class => 'span-14 last'}


    = u.attribute :descr, :wrapper_html => {:class => 'span-14 last'}


%div{ :class => 'span-14 buttons_left last' }
  = link_as_button t(:edit), edit_admin_documenttype_path(:id => @documenttype.id)
  = link_as_button t(:back), admin_documenttypes_path
