%div{ :class => 'span-14 section_left last' }
  %h3= t('stimuluslevels.show.title')
  - show_for @stimuluslevel do |u|

    = u.attribute :name, :wrapper_html => {:class => 'span-14 last'}


    = u.association :stimulustype, :using => :name, :wrapper_html => {:class => 'span-14 last'}


%div{ :class => 'span-14 buttons_left last' }
  = link_as_button t(:edit), edit_admin_stimuluslevel_path(:id => @stimuluslevel.id)
  = link_as_button t(:back), admin_stimuluslevels_path
