%h3= t('.title')
= simple_form_for @activity, :as => :activity, :url => technical_activity_path do |f|
  = render :partial => 'form', :locals => { :f => f }
  #submit_buttons
    = f.submit  t(:update)
    = link_to t(:cancel), technical_activities_path