%h3= t('technical_activities.show.title')
.section-with-border-and-bg
  = show_for @activity do |u|
    .span-9= u.attribute :name
    .span-9.last= u.attribute :descr

    .span-9= u.association :activitytype, :using => :name
    .span-3= u.attribute :year, :using => :name
    .span-6.last= u.attribute :month
  .row
    = render :partial => 'shared/record', :object => @activity

#submit_buttons
  = link_to t(:edit), edit_technical_activity_path(:id => @activity.id)
  = link_to t(:back), technical_activities_path

