= render :partial => "/shared/errors", :object => f.object.errors

%div{ :class => 'span-22 section_left append-bottom last' }

  %div{:class => 'span-10 ui-widget', :id => 'journal', 'data-controller-name'=>'journals' }
    = f.label :journal, :required => true
    = f.select :journal_id, [], {:prompt => true}, {:class => 'autocompleted_select'}
    = link_to_action 'ui-icon-plus', 'Agregar journal', '#', :id => 'new_record' 

  %div{:class => 'span-12 last'}
    = f.association :refereed_criterium, :as => :radio, :collection => RefereedCriterium.all, :wrapper_class => 'span-22 radio_set last'

  %div{:class => 'span-22 last'}
    = f.input :year, :as => :string, :input_html => { :size => '4', :autocomplete => "off", :value => Date.today.year }, :wrapper_class => 'span-4', :required => true
    %div{:class => 'span-6 '}
      = f.label :month, :required => true
      = select_month(Date.today, :field_name => 'month', :prefix => 'user_refereed_journal')
