%h3= t('user_refereed_journals.show.title')
.section-with-border-and-bg

  = show_for @user_refereed_journal do |u|
    .span-9= u.association :journal, :using => :name
    .span-9.last= u.association :refereed_criterium, :using => :name

    .span-3= u.attribute :year
    .span-15.last= u.attribute :month

  .row
    = render :partial => 'shared/record', :object => @user_refereed_journal

#submit_buttons
  = link_to t(:edit), edit_user_refereed_journal_path(:id => @user_refereed_journal.id)
  = link_to t(:back), user_refereed_journals_path

