%div{ :class => 'span-24 section_left last' }
  %h3= t('user_refereed_journals.show.title')
  - show_for @user_refereed_journal do |u|
    = u.association :journal, :using => :name, :wrapper_html => {:class => 'span-12'}
    = u.association :refereed_criterium, :using => :name, :wrapper_html => {:class => 'span-12 last'}
    = u.attribute :year, :wrapper_html => {:class => 'span-6'}
    = u.attribute :month, :wrapper_html => {:class => 'span-6'}

  = render :partial => 'shared/record', :object => @user_refereed_journal

%div{ :class => 'span-14 buttons_left last' }
  = link_as_button t(:edit), edit_user_refereed_journal_path(:id => @user_refereed_journal.id)
  = link_as_button t(:back), user_refereed_journals_path

