%div{ :class => 'span-14 section_left last' }
  %h3= t('groups.show.title')
  - show_for @group do |u|

    = u.attribute :name, :wrapper_html => {:class => 'span-14 last'}


    = u.attribute :descr, :wrapper_html => {:class => 'span-14 last'}


%div{ :class => 'span-14 buttons_left last' }
  = link_as_button t(:edit), edit_admin_group_path(:id => @group.id)
  = link_as_button t(:back), admin_groups_path
