<%= stop_observer("#{object}_state_id") %>
<%= observe_field("#{object}_state_id", :update => "select_#{object}_city_id", 
                   :url => { :action => :update_select, :params => { :object => object, :partial => 'cities/select' }}, 
                   :with => "'id='+value", :on => 'click') %>
<div id="select_<%= object %>_city_id">
<p><label>Ciudad<span class="required">*</span></label>
<% if !id.nil? and id.to_i == 9 %>
  Ciudad de México 
  <%= hidden_field object, :city_id, :value => 64 %>
<% else %>
	<%= select_conditions :cities, :attributes => %w(name), :conditions => "cities.state_id = #{id}", :order => 'cities.name ASC', :required => true, :object_name => object %>
	<%= link_to_remote 'Otra', :update => "select_#{object}_city_id", :url => { :action => :update_partial, :params => {:partial => 'cities/quickpost'}},  :with => "'state_id=' + $('#{object}_state_id').value" %>
<% end %>
</p><br/>
</div>
