%div{ :class => 'span-24 buttons_left last' }
  = link_to t(:edit), edit_admin_user_path(:id => @user.id), :class => "ui-state-default ui-corner-all button"
  = link_to t(:back), admin_users_path, :class => "ui-state-default ui-corner-all button"

%div{:class => "span-24 last"}
  = render :partial => 'users/record', :object => @user
  = render :partial => 'people/record', :object => @user.person unless @user.person.nil?
  = render :partial => 'addresses/record', :object => @user.address unless @user.address.nil?
  = render :partial => 'user_identifications/record', :object => @user.user_identification unless @user.user_identification.nil?
  = render :partial => 'jobpositions/record', :object => @user.jobposition unless @user.jobposition.nil?
  %div{ :class => 'span-24 section_left append-bottom last' }
    %h3 Becas
    = render :partial => 'user_schoolarships/record', :collection => @user.user_schoolarships
  %div{ :class => 'span-24 section_left last' }
    %h3 Documentos
    = render :partial => 'documents/record', :collection => @user.documents

%div{ :class => 'span-24 buttons_left last' }
  = link_to t(:edit), edit_admin_user_path(:id => @user.id), :class => "ui-state-default ui-corner-all button"
  = link_to t(:back), admin_users_path, :class => "ui-state-default ui-corner-all button"
