.section-with-border-and-bg
  .row
    = render :partial => "/shared/errors", :object => f.object.errors


  .row
    .span-9= f.input :authors, :as => :text, :input_html => { :size => '60x1' }
    .span-9.last= f.input :title, :as => :text, :input_html => { :size => '60x1' }


  .row

    #publisher.span-6
      = f.association :publisher, :using => :name, :input_html => {:prompt => true, :class => 'chosen-select', :required => true}
      = link_to_new_record 'Agregar editorial', new_publisher_path
    .span-2
      = f.input :year, :as => :string, :input_html => { :size => '4', :autocomplete => "off", :value => Date.today.year }
    .span-6.last
      = f.label :month, :required => true
      = select_month_for 'month', 'genericwork'

  .row
    = f.association :genericworktype, :collection => Genericworktype.popular_science, :using => :name, :as => :radio, :prompt => true, :wrapper_class => 'radio-set'

  .row
    = f.association :genericworkstatus, :collection => Genericworkstatus.all, :using => :name, :as => :radio, :prompt => true, :wrapper_class => 'radio-set'


  .row
    .span-18= f.input :reference, :as => :string, :input_html => { :size => '130', :autocomplete => "off"}

  .row
    .span-6= f.input :vol, :as => :string, :input_html => { :size => '20', :autocomplete => "off"}
    .span-6-last= f.input :pages, :as => :string, :input_html => { :size => '20', :autocomplete => "off"}

  .row
    .span-6= f.input :isbn_issn, :as => :string, :input_html => { :size => '20', :autocomplete => "off"}
    #institution.span-6.last
      = f.association :institution, :using => :name, :input_html => {:prompt => true, :class => 'chosen-select', :required => true}
      = link_to_new_record 'Agregar institución', new_institution_path

  .row
    .span-6.last
      = render :partial => 'user_genericworks/form', :locals => {:genericwork => @genericwork, :f => f}