%h3= t('popular_science_works.show.title')
.section-with-border-and-bg

  = show_for @genericwork do |u|
    .span-9= u.attribute :authors
    .span-9.last= u.attribute :title

    .span-9= u.association :publisher, :using => :name
    .span-3= u.attribute :year
    .span-6.last= u.attribute :month

    .span-9= u.association :genericworktype, :using => :name
    .span-9.last= u.association :genericworkstatus, :using => :name

    .span-18.last= u.attribute :reference

    .span-9= u.attribute :vol
    .span-9.last= u.attribute :pages

    .span-9= u.attribute :isbn_issn
    .span-9.last= u.association :institution, :using => :name

    .span-18.last
      = u.association :user_genericworks, :collection_tag => :ol do |record| 
        %li= record.author_with_role
  .row
    = render :partial => 'shared/record', :object => @genericwork

#submit_buttons
  = link_to t(:edit), edit_popular_science_work_path(:id => @genericwork.id)
  = link_to t(:back), popular_science_works_path

