.span-17.last
  %h3= t('.title') + " #{@year}".html_safe
= render :partial => 'user_annual_reports/profile', :object => @profile

= simple_form_for @annual_plan, :as => :annual_plan, :url => user_annual_plan_path(@annual_plan),  :html => { :id => 'record'} do |f|
  .section-with-border-and-bg
    = render :partial => 'form', :locals => { :f => f }
  .span-17.last.alert.alert-info
    =t('.annual_plan_hint')
  #submit_buttons
    = f.submit t(:update)
    = link_to t(:cancel), user_annual_plans_path
