.span-17.last
  %h3= t('.title')
= render :partial => 'user_annual_reports/profile', :object => @profile

= simple_form_for @annual_plan, :url => user_annual_plans_path,  :html => { :id => 'record'} do |f|
  .section-with-border-and-bg
    = render :partial => current_user.user_group.group.name, :locals => { :f => f }
  #submit_buttons
    = f.submit t(:save)
    = link_to t(:cancel), user_annual_plans_path
