.section-with-border-and-bg
  .row
    = render :partial => "/shared/errors", :object => f.object.errors
  .row
    - f.object.career = f.object.career.nil? ? Career.new : f.object.career.clone
    = f.simple_fields_for :career, f.object.career do |career_form|
      = render :partial => 'careers/form', :locals => { :f => career_form }
  .row
    .span-18.last
      %b='Periodo y status'
    .span-4= f.input :startyear, :as => :string, :required => true, :input_html => {:size => 4}
    .span-4= f.input :endyear, :as => :string, :required => true, :input_html => {:size => 4}
    .span-5= f.input :is_studying_this, :as => :radio, :wrapper_class => 'radio-set'
    .span-5.last= f.input :is_titleholder, :as => :radio, :wrapper_class => 'radio-set'
