= render :partial => "/shared/errors", :object => f.object.errors
%div{ :class => 'span-22 section_left append-bottom last' }
  - f.object.career = Career.new if  f.object.career.nil?
  = f.simple_fields_for :career, f.object.career do |career_form|
    = render :partial => 'careers/form', :locals => { :f => career_form }
  %div{ :class => 'span-21 section_left push-2 last' }
    %div{:class=>'span-21 last'}
      %b='Periodo y status'
    = f.input :startyear, :as => :string, :required => true, :input_html => { :size => 4 }, :wrapper_class => 'span-4'
    = f.input :endyear, :as => :string, :required => true, :input_html => { :size => 4 }, :wrapper_class => 'span-4'
    = f.input :is_studying_this, :as => :radio, :wrapper_class => 'span-6'
    = f.input :is_titleholder, :as => :radio, :wrapper_class => 'span-6 last'
