= render :partial => 'shared/search_options'
= form_for :search, :remote => true, :html => {:id => "filter_form", :style => search_form_display_enabled} do |f|
  .span-3="Año de inicio"
  .span-12="Año de conclusión"
  .span-2
  .span-3.last

  .span-3= f.text_field :startyear_eq, :size => 4
  .span-10= f.text_field :endyear_eq, :size => 4
  .search_button= link_to t(:search), "#", :id => "search_button"
  .reset_search_button.last= link_to "Listar todos", "#" , :id => 'reset_search_button'
