%h3= t('.title')
= simple_form_for @education, :as => :education, :url => education_path do |f|
  = render :partial => 'form', :locals => { :f => f }
  #submit_buttons
    = f.submit  t(:edit)
    = link_to t(:cancel), educations_path
