%h3= t('educations.show.title')

.section-with-border-and-bg
  - show_for @education do |u|
    .row
      .span-9
        %label Grado
        = @education.career.degree.name
      .span-9.last
        = u.association :career, :using => :name
    .row
      .span-9
        %label Facultad o Escuela
        = @education.career.institution.name
      .span-9.last
        %label Institución 
        = @education.career.institution.institution.name
    .row
      .span-6
        %label Tipo
        = @education.career.institution.institutiontitle.name
      .span-6.last
        %label Clasificación 
        = @education.career.institution.institutiontype.name
      .span-6.last
        %label País 
        = @education.career.institution.country.name

    .row
      .span-4
        = u.attribute :startyear
      .span-4
        = u.attribute :endyear
      .span-4
        = u.attribute :is_studying_this
      .span-6.last
        = u.attribute :is_titleholder

    .row
      = render :partial => 'shared/record', :object => @education

#submit_buttons
  = link_to t(:edit), edit_education_path(:id => @education.id)
  = link_to t(:back), educations_path

