.section-with-border-and-bg
  .row
    = render :partial => "/shared/errors", :object => f.object.errors

  .row
    #language.span-8{'data-controller-name' => 'languages'}
      = f.association :language, :using => :name, :input_html  => {:class => 'chosen-select select_and_label'}
      = link_to_new_record 'Agregar idioma', '#'

    #institution.span-10.last{'data-controller-name' => 'institutions'}
      = f.label :institution, :required => true
      = f.select :institution_id, [], {:prompt => true}, {:class => 'autocompleted_select'}
      = link_to_new_record 'Agregar institución', '#'

  .row
    .span-8
      = f.association :spoken_languagelevel, :using => :name, :as => :radio, :wrapper_class  => 'radio_set'
    .span-10.last
      = f.association :written_languagelevel, :using => :name, :as => :radio, :wrapper_class  => 'radio_set'


