.section-with-border-and-bg
  .row
    = render :partial => "/shared/errors", :object => f.object.errors

  .row
    #language.span-8
      = f.association :language, :using => :name, :input_html  => {:class => 'chosen-select'}
      = link_to_new_record 'Agregar idioma', new_language_path

<<<<<<< HEAD
    #institution.span-10.last{'data-controller-name' => 'institutions'}
      = f.label :institution, :required => true
      = f.select :institution_id, [], {:prompt => true}, {:class => 'chosen-select'}
      = link_to_new_record 'Agregar institución', '#'
=======
    #institution.span-10.last
      = f.association :institution, :using => :name , :input_html  => {:class => 'chosen-select'}
      = link_to_new_record 'Agregar institución', new_institution_path
>>>>>>> d848a5bd1c0cb723e27ddcbb05f933712aa9b0ae

  .row
    .span-8
      = f.association :spoken_languagelevel, :using => :name, :as => :radio, :wrapper_class  => 'radio-set'
    .span-10.last
      = f.association :written_languagelevel, :using => :name, :as => :radio, :wrapper_class  => 'radio-set'


