%h3= t('user_languages.show.title')
.section-with-border-and-bg
  - show_for  @user_language do |u|
    .row
      .span-8
        = u.association :language, :using => :name
      .span-10.last
        = u.association :institution, :using => :name

    .row
      .span-8
        = u.association :spoken_languagelevel, :using => :name
      .span-10.last
        = u.association :written_languagelevel, :using => :name
    .row
      = render :partial => 'shared/record', :object =>  @user_language

#submit_buttons
  = link_to t(:edit), edit_user_language_path(:id =>  @user_language.id)
  = link_to t(:back), user_languages_path