%tr
  %td
    = record.fullname
  %td
    = record.contact_name_1
  %td
    = record.contact_phonenumber_1
  %td
    = record.medical_condition
  %td
    = record.medical_instruction
  %td
    = record.hospital
  %td
    = record.insurance
  %td
    = record.contact_name_2
  %td
    = record.contact_phonenumber_2
  %td
    = record.contact_name_3
  %td
    = record.contact_phonenumber_3
