%h3= t('.title')
= simple_form_for @review, :as => :review, :url => review_path do |f|
  = render :partial => 'form', :locals => { :f => f }
  #submit_buttons
    = f.submit  t(:update)
    = link_to t(:cancel), reviews_path