%div{ :class => 'span-24 section_left last' }
  %h3= t('reviews.show.title')
  - show_for @review do |u|

    = u.attribute :authors, :wrapper_html => {:class => 'span-12'}
    = u.attribute :title, :wrapper_html => {:class => 'span-12 last'}

    = u.attribute :reviewed_work_title, :wrapper_html => {:class => 'span-12'}
    = u.attribute :reviewed_work_publication, :wrapper_html => {:class => 'span-12 last'}

    = u.attribute :published_on, :wrapper_html => {:class => 'span-12 last'}
    = u.attribute :year, :wrapper_html => {:class => 'span-6'}
    = u.attribute :month, :wrapper_html => {:class => 'span-6 last'}

    = u.attribute :other, :wrapper_html => {:class => 'span-24 last'}
  = render :partial => 'shared/record', :object => @review

%div{ :class => 'span-14 buttons_left last' }
  = link_as_button t(:edit), edit_review_path(:id => @review.id)
  = link_as_button t(:back), reviews_path

