%h3= t('reviews.show.title')
.section-with-border-and-bg

  = show_for @review do |u|

    .span-9= u.attribute :authors
    .span-9.last= u.attribute :title

    .span-9= u.attribute :reviewed_work_title
    .span-9.last= u.attribute :reviewed_work_publication

    .span-9= u.attribute :published_on
    .span-3= u.attribute :year
    .span-6.last= u.attribute :month

    .span-18.last= u.attribute :other
  .row
    = render :partial => 'shared/record', :object => @review

#submit_buttons
  = link_to t(:edit), edit_review_path(:id => @review.id)
  = link_to t(:back), reviews_path

