.section-with-border-and-bg
  .row
    = render :partial => "/shared/errors", :object => f.object.errors

  .row
    #credittype.span-8
      = f.association :credittype, :using => :name, :input_html  => {:class => 'chosen-select ', :prompt => true, :required => true}
      = link_to_new_record 'Agregar tipo de agradecimiento', new_credittype_path
    .span-10.last= f.input :descr, :as => :text, :input_html => { :size => '70x2' }

  .row
    .span-2= f.input :year, :as => :string, :input_html => { :size => '4', :autocomplete => "off" }, :required => true
    .span-6
      = f.label :month, :required => true
      = select_month_for 'month', 'user_credit'
    .span-10.last= f.input :other, :as => :text, :input_html => { :size => '70x2' }
