.section-with-border-and-bg
  .row
    = render :partial => "/shared/errors", :object => f.object.errors

  .row
    #credittype.span-6{'data-controller-name' => 'credittypes'}
      = f.association :credittype, :using => :name, :input_html  => {:class => 'chosen-select select_and_label'}
      = link_to_new_record 'Agregar tipo de agradecimiento', '#'
    .span-12.last= f.input :descr, :as => :text, :input_html => { :size => '60x2' }

  .row
    .span-4
      = f.label :month, :required => true
      = select_month(Date.today, {:field_name => 'month', :prefix => 'user_credit'}, :class => 'chosen-select')
    .span-2= f.input :year, :as => :string, :input_html => { :size => '4', :autocomplete => "off", :value => Date.today.year }, :required => true
    .span-10.last= f.input :other, :as => :text, :input_html => { :size => '60x2' }
