= render :partial => "/shared/errors", :object => f.object.errors

%div{ :class => 'span-24 section_left append-bottom last' }
 


  %div{:class => 'span-12 ui-widget last', :id => 'credittype', 'data-controller-name'=>'credittypes' }
    = f.label :credittype, :required => true
    = f.select :credittype_id, [], {:prompt => true}, {:class => 'autocompleted_select'}
    = link_to_action 'ui-icon-plus', 'Agregar tipo de agradecimiento', '#', :id => 'new_record'

  %div{ :class => 'span-24  last' }
    = f.input :descr, :as => :text, :input_html => { :size => '60x1' }, :wrapper_class => 'span-12'
    = f.input :other, :as => :text, :input_html => { :size => '60x1' }, :wrapper_class => 'span-12 last'

  = f.input :year, :as => :string, :input_html => { :size => '4', :autocomplete => "off", :value => Date.today.year }, :wrapper_class => 'span-6', :required => true
  %div{:class => 'span-6'}
    = f.label :month, :required => true
    = select_month(Date.today, :field_name => 'month', :prefix => 'genericwork')
