%h3= t('user_credits.show.title')
.section-with-border-and-bg

  = show_for @user_credit do |u|
    .row
      .span-6= u.association :credittype, :using => :name
      .span-12.last= u.attribute :descr
    .row
      .span-4= u.attribute :month
      .span-2= u.attribute :year
      .span-12.last= u.attribute :other
    .row
      = render :partial => 'shared/record', :object => @user_credit

#submit_buttons
  = link_to t(:edit), edit_user_credit_path(:id => @user_credit.id)
  = link_to t(:back), user_credits_path
