    <%= f.simple_select :addresstype, :required =>true %>
    <%= f.text_area :location, :size => '40x4', :required => true %>
    <%= f.text_field :pobox %>
    <%= f.text_field :phone %>
    <%= f.text_field :fax %>
    <%= f.text_field :movil %>
    <%= f.simple_select :country, :default => 484, :required => true %>
    <%= f.simple_select :state %>
    <%= f.simple_select :city %>
    <%= f.radio_buttons :is_postaddress, :values => [true, false], :required => true %>
  <p>
<%= f.submit get_label("save") %> | <%= link_to_function(get_label('cancel')) do |page|  page.replace_html 'form', :partial => 'add' end %>
</p>


