<div class="row" id="<%= record.dom_id %>">
<span class="td_id"> <%= record.id %> </span>
<span class="td_content">
<%= %w(location pobox phone fax).collect { |column| record.send(column) }.join(',') %>
</span>
<span class="td_actions">
<span class="td_action"><%= link_to_remote get_label('show'), :update => "form", :url =>  address_path(record), :method => :get  %></span>
<span class="td_action"><%= link_to_remote get_label('edit'), :url => edit_address_path(record), :method => :get  %></span>
<span class="td_action"><%= link_to_remote get_label("del"), :url =>  address_url(:id => record.id), :method => :delete, :confirm =>
  "Desea borrar este registro" %> </span>

</span>
</div>

