<p>
  <b>Location:</b>
  <%=h @address.location %>
</p>

<p>
  <b>Pobox:</b>
  <%=h @address.pobox %>
</p>

<p>
  <b>Phone:</b>
  <%=h @address.phone %>
</p>

<p>
  <b>Fax:</b>
  <%=h @address.fax %>
</p>

<p>
  <b>Movil:</b>
  <%=h @address.movil %>
</p>

<p>
  <b>Is postaddress:</b>
  <%=h @address.is_postaddress %>
</p>


<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
