.span-18.last
  %h3= t('.title')

#submit_buttons
  = link_to t(:new), new_conference_organizer_path

#nav_links
  = link_to t('.my_conferences'), conference_organizers_path
  = link_to t('.not_my_conferences'), not_my_conference_organizers_path

= render :partial => 'search_form'

= render :partial => 'collection_header'

#collection_records
  = render :partial => 'record', :collection => @conferences

= render :partial => 'collection_footer'

= paginate(@conferences)

#submit_buttons
  = link_to t(:new), new_conference_organizer_path