%h3= t('conference_organizers.show.title')
.section-with-border-and-bg

  = render :partial => 'conferences/show', :locals => { :conference => @conference}
  = render :partial => 'shared/record', :object => @conference

#submit_buttons
  = link_to t(:edit), edit_conference_organizer_path(:id => @conference.id)
  = link_to t(:back), conference_organizers_path

