#footer
  /="&copy; Instituto de Física - UNAM 2011 | ".html_safe
  ="&copy; Instituto de Neurobiología - UNAM 2011 | ".html_safe	
  /= "Circuito de la Investigación Científica, Ciudad Universitaria, CP 04510 México, D.F."
  = "Boulevard Juriquilla 3001, Querétaro, 76230, México."

  %br
  = "Reporte de problemas: #{link_to_helpdesk}".html_safe

  %br
  = "Teléfono: #{phone_to_technical_support}, ".html_safe
  = "Contacto:  #{mail_to_technical_support}".html_safe

  %br
  = "Hecho en México con software libre | Última actualización: Agosto de 2012"
