!!!
%html
  %head
    %title= 'Plataforma de Información Curricular - SALVA'
    = csrf_meta_tag
    = render :partial => 'layouts/blueprint_css'
    = stylesheet_link_tag 'academic'
    = javascript_include_tag 'academic'

  %body
    = render :partial => 'layouts/header'
    .container
    - unless current_user.nil?
      #session_info
        .current_user= current_user.login
        = '|'
        = link_to 'Salir', destroy_acaddemic_session_path
      #top-navigation= render_navigation(:context => :academic)
      #content
        = render :partial => 'layouts/flash_messages'
        = yield
    #dialog
    = render :partial => 'layouts/footer'
