!!!
%html
  %head
    %title= 'Plataforma de Información Curricular - SALVA'
    = csrf_meta_tag
    = render :partial => 'layouts/blueprint_css'
    = stylesheet_link_tag 'user_resources'
    = javascript_include_tag 'user_resources'

  %body
    = render :partial => 'layouts/header'
    .container
      = render :partial => 'layouts/toplinks'
      #top-navigation= render_navigation(:context => :admin)
      #content
        #right-content
          = render :partial => 'layouts/flash_messages'
          = yield
    #dialog
    = render :partial => 'layouts/footer'
