!!!
%html
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }
    %title= 'Sistema de Investigadores Posdoctorales'

    = stylesheet_link_tag 'screen', :media => 'screen, projection'
    = stylesheet_link_tag 'print', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie', :media => 'screen, projection'
    = stylesheet_link_tag 'application', :media => 'screen, projection'
    = stylesheet_link_tag 'jquery.ui/themes/base/jquery.ui.all'
    = stylesheet_link_tag 'jquery.ui/themes/start/jquery-ui-1.8.1.custom'

    = javascript_include_tag :jquery
    = javascript_include_tag 'application'

  %body
    = render :partial => 'layouts/header'
    %div{:class =>'container'}
      = yield :layout
    %div{:id => 'dialog'}
    = render :partial => 'layouts/footer'
