!!!
%html
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }
    %title&= yield(t(:title)) 

    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = stylesheet_link_tag 'application.css', :media => 'screen, projection'

  %body
    = render :partial => 'layouts/header'
    %div{:class =>'container'}
      = yield :layout
    = render :partial => 'layouts/footer'
