!!!
%html
  %head
    %title= 'Plataforma de Información Curricular - SALVA'

    = stylesheet_link_tag :defaults
    /[if lt IE 8]
      = stylesheet_link_tag 'ie', :media => 'screen, projection'

    = stylesheet_link_tag 'jquery.ui/themes/start/jquery-ui-1.8.14.custom'

    = javascript_include_tag :defaults

  %body
    .container
      #header.span-24.last
        #top-navigation= render_navigation(:level => 1)
      #content.span-24.last
        .span-4
          = yield :layout
        .span-20.last
      #footer.span-24.last
        = render :partial => 'layouts/footer'
