!!!
%html
  %head
    %title= 'Plataforma de Información Curricular - SALVA'
    = stylesheet_link_tag 'devise'
    = javascript_include_tag "devise"
  %body
    = render :partial => 'layouts/header'
    .container
      = render :partial => 'layouts/flash_messages'
      = yield
    = render :partial => 'layouts/footer'
