!!!
%html
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }
    = csrf_meta_tag 
    %meta{:name => 'session-value', :content => cookies['_manybody_session'] }
    %meta{:name => 'session-key', :content => '_manybody_session' }
    %title&= yield(t(:title)) 

    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = stylesheet_link_tag 'application', :media => 'screen, projection'
    = stylesheet_link_tag "ui/themes/start/jquery.ui.all"
    = stylesheet_link_tag "uploadify/uploadify"
    = stylesheet_link_tag "gallery"

    = javascript_include_tag "jquery-1.4.2"
    = javascript_include_tag 'jquery.rails.min', 'jquery.rails', 'rails'
    = javascript_include_tag "uploadify/jquery.uploadify.v2.1.0.min", "uploadify/swfobject"
    = javascript_include_tag "ui/jquery-ui-1.8.custom"
    = javascript_include_tag "gallery"
  %body
    %div{:class =>'container'}
      = yield :layout
