!!!
%html
  %head
    %title= 'Plataforma de Información Curricular - SALVA'
    = csrf_meta_tag
    = render :partial => 'layouts/blueprint_css'
    = stylesheet_link_tag 'web_site'

  %body
    .container
      = yield
