<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= get_conf('institution') %>, <%= controller.controller_name %>: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'application', 'users'%>
  <%= javascript_include_tag :defaults %>
</head>
<body>

<div id="header">
  <div class="site_link"> <a href="<%= get_conf('institution_url') %>" target="_new"> <%= get_conf('institution') %> </a> </div>
</div>
<div id="container">
	<div id="left">
	</div>
	<div id ="right">
		<%= yield  %>
	</div>
</div>
<div id="footer">
</div>
</body>
</html>
