!!!
%html
  %head
    %title= 'Plataforma de Información Curricular - SALVA'
    = csrf_meta_tag
    = render :partial => 'layouts/blueprint_css'
    = stylesheet_link_tag 'user_resources'
    = javascript_include_tag 'user_resources'

  %body
    = render :partial => 'layouts/header'
    .container
      = render :partial => 'layouts/toplinks'
      #top-navigation= render_navigation(:level => 1)
      #content
        #left-navigation= render_navigation(:level => 2..3)
        #right-content
          - unless flash[:notice].nil?
            .notice= flash[:notice]
          - unless flash[:alert].nil?
            .alert= flash[:alert]
          = yield
    #dialog
    = render :partial => 'layouts/footer'
