
- f.object.book = Book.new if f.object.book.nil?
= f.simple_fields_for :book, f.object.book do |b|
  = render :partial => 'books/form', :locals => { :f => b}

.row
  .span-6= f.input :edition, :as => :string, :input_html => { :size => '30', :required => true}
  .span-6= f.input :isbn, :as => :string, :input_html => { :size => '30'}
  .span-6.last= f.input :pages, :as => :string, :input_html => { :size => '30'}

.row
  .span-2
    = f.input :year, :as => :string, :input_html => { :size => '4', :autocomplete => "off" }, :required => true
  .span-6
    = f.label :month, :required => true
    = f.select :month, localized_month_list, { :prompt => true }, :class => 'chosen-select'
  .span-6.last= f.association :mediatype, :as => :radio, :wrapper_class =>'radio-set'

.row
  = f.association :editionstatus, :as => :radio, :wrapper_class =>'radio-set'
